# Kela Unemployment benefits dataset - Exploratory Data Analysis

In [2]:
import pandas as pd
import numpy as np
import gc

df = pd.read_csv("data_2024.csv")
df.shape

(1408846, 13)

In [3]:
df.describe()

,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
count,1.408846e+06,1.408846e+06,1408846.0,1.408846e+06,1.408846e+06,1.408846e+06,1.408846e+06
mean,6.948563e+00,2.024069e+05,2024.0,4.576087e+02,2.825526e+01,1.991881e+03,7.664374e+04
std,3.551973e+00,3.551973e+00,0.0,2.808418e+02,1.014163e+02,1.069365e+04,4.067881e+05
min,1.000000e+00,2.024010e+05,2024.0,5.000000e+00,0.000000e+00,-4.350000e+02,-7.766999e+05
25%,4.000000e+00,2.024040e+05,2024.0,2.050000e+02,5.000000e+00,1.430000e+02,5.655650e+03
50%,7.000000e+00,2.024070e+05,2024.0,4.330000e+02,8.000000e+00,3.760000e+02,1.489411e+04
75%,1.000000e+01,2.024100e+05,2024.0,6.980000e+02,1.700000e+01,1.034000e+03,4.066459e+04
max,1.200000e+01,2.024120e+05,2024.0,9.920000e+02,3.636000e+03,5.798260e+05,2.207279e+07

In [4]:
df.isna().sum()

aikatyyppi            0
kuukausi_nro          0
vuosikuukausi         0
vuosi                 0
kunta_nro             0
kunta_nimi            0
ikaryhma              0
sukupuoli             0
etuus                 0
korvausperuste        0
saaja_lkm             0
korvattu_paiva_lkm    0
maksettu_eur          0
dtype: int64

In [5]:
df.head()

,aikatyyppi,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,kunta_nimi,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,202412,2024,272,Kokkola,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,202407,2024,92,Vantaa,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,202412,2024,109,Hämeenlinna,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,202401,2024,178,Juva,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
4,Kuukausi,3,202403,2024,233,Kauhava,Tieto puuttuu,Tuntematon,Yhteensä,-Omaehtoinen opiskelu,8,161,8311.91

### Unique values listed

In [6]:
print(df["kunta_nro"].unique())

[272  92 109 178 233 434 405 593 700 426 684 601 140 740 922 232 936 186
  91 491 743 638 285 927 422 707 249 108  19 529 398 560 683 758 857  49
 858 895  51 595 146  98 631 245 179 286 561  79 142 176  97 694 317 710
 853 211 739 167 689 781 205 484 578 543 263 837 747 886 111   5 239 240
 241 790 276 494 564 625 507 257 420  69 441  77 609 312 399 935 250 410
 408 599 734 508 480 678 729 481 169 444 202  86 698 616 172 403 430 626
 588 977  18 305 182 598 921  61 751  71 214 850 287 309  78 686 531 851
  90 475 503 611 102 213 505 749 499 171 545  20 980 624 576 500 199  75
 992 139 765 753 416 844 106 149 265  16 316 244 541 423 145 636 762 445
 746 165 320 905 981 915 271 208 153 535 604 846 143 946 261 536 148   9
 181 301 580 562 440 889 297 230 859 854 925 918 581 892 288 614 322 833
 785  10 224 691 777 418 280 893 290 635 704 489 615 177 680 607 400 433
  50 887 989 924 260 681 845 755 256 783  47 608 563 687 791 273 402  82
 495 831 584 304 832 498 931 976 300 103 697 152 619 577 702  81 425 761
 538 620 623 849 759 407 748 235 908  46 778 275 848 834 217 742 504 204
 890  52 218 421 236 151 483 738  72 436 105 934 226 732 583 592 284 291
 435 231 216 630 768  74 170 478]

In [7]:
print(df["kunta_nimi"].unique())

['Kokkola' 'Vantaa' 'Hämeenlinna' 'Juva' 'Kauhava' 'Loviisa'
 'Lappeenranta' 'Pieksämäki' 'Ruokolahti' 'Liperi' 'Rauma' 'Pihtipudas'
 'Iisalmi' 'Savonlinna' 'Vesilahti' 'Kauhajoki' 'Virrat' 'Järvenpää'
 'Helsinki' 'Mikkeli' 'Seinäjoki' 'Porvoo' 'Kotka' 'Vihti' 'Lieksa'
 'Rääkkylä' 'Keuruu' 'Hämeenkyrö' 'Aura' 'Naantali' 'Lahti' 'Orimattila'
 'Ranua' 'Sodankylä' 'Tuusniemi' 'Espoo' 'Tuusula' 'Uusikaupunki'
 'Eurajoki' 'Pielavesi' 'Ilomantsi' 'Hollola' 'Pyhäranta' 'Kerava'
 'Jyväskylä' 'Kouvola' 'Oripää' 'Harjavalta' 'Iitti' 'Juuka' 'Hirvensalmi'
 'Riihimäki' 'Kärsämäki' 'Raasepori' 'Turku' 'Kangasala' 'Savitaipale'
 'Joensuu' 'Rautjärvi' 'Sysmä' 'Kajaani' 'Merikarvia' 'Paltamo'
 'Nurmijärvi' 'Kiuruvesi' 'Tampere' 'Siikainen' 'Ulvila' 'Heinola'
 'Alajärvi' 'Keitele' 'Kemi' 'Keminmaa' 'Sastamala' 'Kontiolahti' 'Muhos'
 'Oulu' 'Pyhäjoki' 'Mäntyharju' 'Kirkkonummi' 'Leppävirta' 'Haapajärvi'
 'Luumäki' 'Hankasalmi' 'Pori' 'Kyyjärvi' 'Laihia' 'Virolahti' 'Kihniö'
 'Laukaa' 'Lapua' 'Pedersören kunta' 'Salo' 'Mänttä-Vilppula' 'Marttila'
 'Raahe' 'Saarijärvi' 'Masku' 'Jokioinen' 'Lohja' 'Kaarina' 'Hausjärvi'
 'Rovaniemi' 'Pukkila' 'Joutsa' 'Lappajärvi' 'Loimaa' 'Pyhäjärvi'
 'Pertunmaa' 'Ylivieska' 'Askola' 'Kuusamo' 'Jämsä' 'Pietarsaari'
 'Vesanto' 'Forssa' 'Simo' 'Haapavesi' 'Kankaanpää' 'Toivakka'
 'Kristiinankaupunki' 'Outokumpu' 'Hanko' 'Rautalampi' 'Nakkila' 'Tornio'
 'Heinävesi' 'Maalahti' 'Mynämäki' 'Pornainen' 'Huittinen' 'Kangasniemi'
 'Mäntsälä' 'Siilinjärvi' 'Mustasaari' 'Joroinen' 'Närpiö' 'Akaa'
 'Ylöjärvi' 'Pyhtää' 'Padasjoki' 'Muurame' 'Tuntematon' 'Hamina'
 'Äänekoski' 'Ii' 'Sotkamo' 'Sipoo' 'Lemi' 'Tervo' 'Hyvinkää' 'Inkoo'
 'Kivijärvi' 'Asikkala' 'Kärkölä' 'Kempele' 'Nurmes' 'Lieto' 'Ilmajoki'
 'Pöytyä' 'Sonkajärvi' 'Parainen' 'Sievi' 'Janakkala' 'Kemijärvi' 'Vaasa'
 'Ypäjä' 'Varkaus' 'Kokemäki' 'Kalajoki' 'Imatra' 'Nivala' 'Pirkkala'
 'Teuva' 'Ikaalinen' 'Vöyri' 'Kittilä' 'Nokia' 'Inari' 'Alavieska'
 'Jämijärvi' 'Kurikka' 'Parikkala' 'Orivesi' 'Luoto' 'Utajärvi' 'Kuopio'
 'Karvia' 'Tyrnävä' 'Pello' 'Vieremä' 'Vehmaa' 'Parkano' 'Uurainen'
 'Kruunupyy' 'Posio' 'Kemiönsaari' 'Taivassalo' 'Vaala' 'Alavus'
 'Karkkila' 'Reisjärvi' 'Suomussalmi' 'Lempäälä' 'Korsnäs' 'Uusikaarlepyy'
 'Kuhmo' 'Pälkäne' 'Rusko' 'Miehikkälä' 'Pudasjärvi' 'Juupajoki' 'Raisio'
 'Polvijärvi' 'Laitila' 'Loppi' 'Eura' 'Urjala' 'Ähtäri' 'Veteli' 'Kitee'
 'Rantasalmi' 'Tervola' 'Siuntio' 'Kinnula' 'Säkylä' 'Enontekiö'
 'Pomarkku' 'Oulainen' 'Rautavaara' 'Siikalatva' 'Kolari' 'Lapinlahti'
 'Hattula' 'Multia' 'Taipalsaari' 'Perho' 'Kustavi' 'Taivalkoski' 'Muonio'
 'Viitasaari' 'Ylitornio' 'Kuortane' 'Humppila' 'Ristijärvi' 'Isokyrö'
 'Punkalaidun' 'Paimio' 'Ruovesi' 'Hartola' 'Liminka' 'Somero'
 'Nousiainen' 'Puolanka' 'Puumala' 'Toholampi' 'Soini' 'Lapinjärvi'
 'Siikajoki' 'Kauniainen' 'Valkeakoski' 'Enonkoski' 'Suonenjoki'
 'Konnevesi' 'Tohmajärvi' 'Tammela' 'Kannus' 'Savukoski' 'Myrskylä'
 'Kaavi' 'Utsjoki' 'Evijärvi' 'Karijoki' 'Lestijärvi' 'Kaustinen'
 'Isojoki' 'Merijärvi' 'Sauvo' 'Hailuoto' 'Lumijoki' 'Hyrynsalmi'
 'Vimpeli' 'Karstula' 'Salla' 'Pelkosenniemi' 'Petäjävesi' 'Koski Tl'
 'Kuhmoinen' 'Luhanka' 'Kaskinen' 'Kannonkoski' 'Pyhäntä' 'Sulkava'
 'Halsua' 'Jomala' 'Maarianhamina']

In [8]:
print(df["ikaryhma"].unique())

['35-39' '50-54' '60-64' 'Tieto puuttuu' '45-49' '17-19' '40-44' '55-59'
 '20-24' '25-29' '30-34' '65-67']

In [9]:
print(df["sukupuoli"].unique())

['Mies' 'Tuntematon' 'Nainen']

In [10]:
print(df["etuus"].unique())

['Yhteensä' 'Työmarkkinatukietuudet yhteensä' 'Työmarkkinatuki'
 'Peruspäiväraha' 'Kotoutumistuki']

In [11]:
print(df["korvausperuste"].unique())

['-Uravalmennus' '-Kuntouttava työtoiminta'
 'Työllistymistä edistävien palvelujen ajalta' '-Omaehtoinen opiskelu'
 'Yhteensä' 'Työttömyysajalta' '-Työvoimakoulutus' '-Työkokeilu'
 '-Tuntematon palvelu' '-Työnhakuvalmennus' 'Tieto puuttuu'
 '-Koulutuskokeilu' '-Matka-avustus']

### Sums of unknown values

In [12]:
print((df["kunta_nimi"]=="Tuntematon").sum())

11155

In [13]:
print((df["ikaryhma"]=="Tieto puuttuu").sum())

325239

In [14]:
print((df["sukupuoli"]=="Tuntematon").sum())

155072

In [15]:
print((df["korvausperuste"]=="Tieto puuttuu").sum())

26749

### Dataframe editing

In [16]:
df = df.drop(["kunta_nimi", "vuosi", "vuosikuukausi"], axis=1)
df.shape

(1408846, 10)

In [17]:
df = df[(df["saaja_lkm"]<4)|((df["ikaryhma"]!="Tieto puuttuu")&(df["sukupuoli"]!="Tuntematon"))]
df.shape

(1185751, 10)

In [18]:
print((df["ikaryhma"]=="Tuntematon").sum())
print((df["sukupuoli"]=="Tuntematon").sum())
df.head(15)

0
102144

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,7,669,29503.14
6,Kuukausi,2,405,17-19,Mies,Työmarkkinatukietuudet yhteensä,Yhteensä,22,458,13944.96
7,Vuosikertymä,4,593,40-44,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,10,535,22749.31
8,Vuosikertymä,5,700,35-39,Nainen,Työmarkkinatuki,Työllistymistä edistävien palvelujen ajalta,4,327,14132.81
9,Vuosikertymä,5,426,50-54,Nainen,Yhteensä,Työttömyysajalta,18,1689,62575.08
10,Kuukausi,9,684,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,1,25,930.25
11,Vuosikertymä,2,601,55-59,Nainen,Työmarkkinatuki,Yhteensä,4,142,5625.84
12,Vuosikertymä,9,140,45-49,Nainen,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,21,2505,90965.89
13,Kuukausi,10,740,20-24,Nainen,Työmarkkinatuki,-Kuntouttava työtoiminta,5,139,6467.70
15,Kuukausi,6,232,50-54,Nainen,Työmarkkinatukietuudet yhteensä,Yhteensä,16,315,10753.03
16,Kuukausi,6,936,25-29,Nainen,Yhteensä,Yhteensä,6,123,4101.87

In [19]:
df = df[df["maksettu_eur"]>0]
df = df[df["saaja_lkm"] > 0]
df = df[df["korvattu_paiva_lkm"] > 0]
df.shape

(1142994, 10)

In [20]:
print(df.dtypes)

aikatyyppi             object
kuukausi_nro            int64
kunta_nro               int64
ikaryhma               object
sukupuoli              object
etuus                  object
korvausperuste         object
saaja_lkm               int64
korvattu_paiva_lkm      int64
maksettu_eur          float64
dtype: object

In [21]:
df["ka_korvatut_paivat"] = df["korvattu_paiva_lkm"].div(df["saaja_lkm"])
df["ka_maksettu_eur"] = df["maksettu_eur"].div(df["korvattu_paiva_lkm"])

In [22]:
df = df.drop(["saaja_lkm", "korvattu_paiva_lkm", "maksettu_eur"], axis = 1)
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359

In [23]:
print("ka € min:", df["ka_maksettu_eur"].min())
print("ka € max:", df["ka_maksettu_eur"].max())
print("ka € median:", df["ka_maksettu_eur"].median())

print("ka pv min:", df["ka_korvatut_paivat"].min())
print("ka pv max", df["ka_korvatut_paivat"].max())
print("ka_pv_median", df["ka_korvatut_paivat"].median())

ka € min: 0.001388888888888889
ka € max: 715.99
ka € median: 39.14636038961039
ka pv min: 0.3333333333333333
ka pv max 390.0
ka_pv_median 38.0

In [23]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded.shape)
df_encoded.head()

(1142994, 332)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,ikaryhma_30-34,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_encoded = df_encoded.iloc[:300000]

### Train models

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor
gc.collect()
X = df_encoded.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
gc.collect()
y_days = df_encoded["ka_korvatut_paivat"]
gc.collect()
y_eur = df_encoded["ka_maksettu_eur"]
gc.collect()

training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_days = y_days.iloc[:training_indices]
y_test_days = y_days.iloc[training_indices:]

y_train_eur = y_eur.iloc[:training_indices]
y_test_eur = y_eur.iloc[training_indices:]

lr_days = LinearRegression().fit(X_train, y_train_days)
hgb_days = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_days)
lr_eur = LinearRegression().fit(X_train, y_train_eur)
hgb_eur = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_eur)

In [24]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def evaluate_model(y_true, y_pred, model_name="model"):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    print(f"{model_name}")
    print(f"R^2:\t{r2:.4f}")
    print(f"MAE:\t{mae:.4f}")
    print(f"MSE:\t{mse:.4f}")
    print(f"RMSE:\t{rmse:.4f}\n")

In [27]:
pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

LinearRegression (Days)
R^2:	0.6926
MAE:	21.5771
MSE:	756.9302
RMSE:	27.5124

HistGradientBoosting (Days)
R^2:	0.8949
MAE:	9.4139
MSE:	258.8733
RMSE:	16.0895

LinearRegression (EUR)
R^2:	0.6668
MAE:	2.8276
MSE:	17.2084
RMSE:	4.1483

HistGradientBoosting (EUR)
R^2:	0.7420
MAE:	2.3025
MSE:	13.3255
RMSE:	3.6504

### Testing fairness

In [25]:
def fairness_by_group(y_true, y_pred, X_test, sensitive_prefix):
    sens_cols = [col for col in X_test.columns if col.startswith(sensitive_prefix)]

    results = {}

    for col in sens_cols:
        mask = X_test[col] == 1

        group_name = col.replace(sensitive_prefix, "").replace("_", "")

        group_y_true = y_true[mask]
        group_y_pred = y_pred[mask]

        results[group_name] = {
            "count": mask.sum(),
            "mean_pred": group_y_pred.mean(),
            "mean_true": group_y_true.mean(),
            "mean_error": (group_y_pred - group_y_true).mean(),
            "MAE": mean_absolute_error(group_y_true, group_y_pred),
            "RMSE": mean_squared_error(group_y_true, group_y_pred) ** 0.5
        }

    return pd.DataFrame(results).T

In [29]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (LR):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

Fairness assessment for Days by sex (LR):
              count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        29868.0  62.338678  62.376134   -0.037455  21.663549  27.558203
Nainen      26746.0  61.974063  62.098946   -0.124883  20.594864  26.090221
Tuntematon   3386.0  33.519942  33.665485   -0.145543  28.573760  36.562378

Fairness assessment for Days by age group (LR):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.140642  43.903121    0.237521  21.602677  26.924097
20-24          5966.0  53.914739  53.696333    0.218406  18.359072  23.367972
25-29          6078.0  58.407077  57.803555    0.603522  18.803896  23.464148
30-34          6590.0  61.110952  61.278029   -0.167077  19.627310  24.517917
35-39          6333.0  62.557685  62.254472    0.303213  20.368761  25.637236
40-44          6338.0  62.328692  62.944962   -0.616270  20.794897  26.243936
45-49          5799.0  64.513128  64.601132   -0.088004  21.887820  27.934196
50-54          5678.0  66.544834  67.066671   -0.521837  22.773950  28.869317
55-59          6217.0  66.478672  67.483582   -1.004910  23.159575  29.506374
60-64          5155.0  71.616759  71.170080    0.446679  25.349571  32.160852
65-67           201.0  73.377763  70.699601    2.678162  20.999561  27.908954
Tieto puuttuu  3386.0  33.519942  33.665485   -0.145543  28.573760  36.562378

In [30]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (HGB):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

Fairness assessment for Days by sex (HGB):
              count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        29868.0  62.276757  62.376134   -0.099377   9.178895  15.670604
Nainen      26746.0  62.209814  62.098946    0.110868   9.084208  15.373123
Tuntematon   3386.0  34.773992  33.665485    1.108507  14.091656  23.543315

Fairness assessment for Days by age group (HGB):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.806480  43.903121    0.903358   9.394789  14.649513
20-24          5966.0  53.979467  53.696333    0.283134   8.919001  14.912800
25-29          6078.0  58.475245  57.803555    0.671690   8.724650  14.777122
30-34          6590.0  61.474645  61.278029    0.196617   8.677540  14.741212
35-39          6333.0  62.506316  62.254472    0.251845   9.236063  15.515505
40-44          6338.0  62.526905  62.944962   -0.418057   8.834788  15.056814
45-49          5799.0  64.451193  64.601132   -0.149939   8.997912  15.678931
50-54          5678.0  66.413584  67.066671   -0.653087   9.576773  16.337411
55-59          6217.0  66.854978  67.483582   -0.628603   9.316175  16.120245
60-64          5155.0  71.085179  71.170080   -0.084901   9.710370  16.806269
65-67           201.0  75.013595  70.699601    4.313995  17.194843  23.462529
Tieto puuttuu  3386.0  34.773992  33.665485    1.108507  14.091656  23.543315

In [31]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (LR):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

Fairness assessment for EUR by sex (LR):
              count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        29868.0  39.526656  39.522133    0.004524  2.559063  3.540687
Nainen      26746.0  39.212942  39.175351    0.037591  2.856027  4.031769
Tuntematon   3386.0  45.372874  45.381701   -0.008827  4.971049  8.120964

Fairness assessment for EUR by age group (LR):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.807196  33.372060    0.435136  5.868267  6.850073
20-24          5966.0  38.834318  38.868095   -0.033777  3.216479  4.247962
25-29          6078.0  39.986279  39.955372    0.030907  2.376379  3.521814
30-34          6590.0  40.501701  40.452825    0.048876  2.534448  3.575689
35-39          6333.0  41.272240  41.338840   -0.066600  2.649477  3.696981
40-44          6338.0  41.018539  40.995772    0.022767  2.648596  3.620828
45-49          5799.0  40.355064  40.297938    0.057126  2.469342  3.479347
50-54          5678.0  39.056532  39.103329   -0.046797  2.327101  3.239936
55-59          6217.0  37.942187  37.904199    0.037988  2.356024  3.327711
60-64          5155.0  37.126077  37.136210   -0.010133  2.497572  3.533337
65-67           201.0  34.659702  35.271169   -0.611467  3.027384  4.015029
Tieto puuttuu  3386.0  45.372874  45.381701   -0.008827  4.971049  8.120964

In [32]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (HGB):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

Fairness assessment for EUR by sex (HGB):
              count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        29868.0  39.513816  39.522133   -0.008316  1.994094  2.946769
Nainen      26746.0  39.207444  39.175351    0.032093  2.349341  3.446594
Tuntematon   3386.0  45.258670  45.381701   -0.123031  4.653591  8.105457

Fairness assessment for EUR by age group (HGB):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.585094  33.372060    0.213034  3.333463  4.531443
20-24          5966.0  38.829970  38.868095   -0.038125  2.388817  3.409482
25-29          6078.0  40.022414  39.955372    0.067042  2.122082  3.261241
30-34          6590.0  40.489882  40.452825    0.037057  2.136933  3.192324
35-39          6333.0  41.187177  41.338840   -0.151663  2.139311  3.141996
40-44          6338.0  40.980441  40.995772   -0.015331  2.126599  3.016894
45-49          5799.0  40.277494  40.297938   -0.020444  2.082323  3.075671
50-54          5678.0  39.060342  39.103329   -0.042988  2.038227  2.915667
55-59          6217.0  38.003368  37.904199    0.099169  1.974074  2.954790
60-64          5155.0  37.233619  37.136210    0.097408  1.974337  3.101424
65-67           201.0  35.301511  35.271169    0.030342  2.522905  3.408657
Tieto puuttuu  3386.0  45.258670  45.381701   -0.123031  4.653591  8.105457

## Fairness-aware predictive model

### Inverse probability weighting for age-group

In [26]:
import gc
gc.collect()
age_groups = df["ikaryhma"].value_counts(normalize=True)
df["weights"] = df["ikaryhma"].map(lambda x: 1/ age_groups[x])
df["weights"] = ((df["weights"])/df["weights"].mean())
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur,weights
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891,0.792491
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000,0.863401
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256,0.973394
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200,1.490439
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359,0.846294

In [27]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded2 = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded2.shape)
df_encoded2.head()

(1142994, 333)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,weights,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,0.792491,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,0.863401,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,0.973394,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,1.490439,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,0.846294,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_encoded2 = df_encoded2.iloc[:300000]

### Train models

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor

In [30]:
gc.collect()
X = df_encoded2.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
gc.collect()
y_days = df_encoded2["ka_korvatut_paivat"]
gc.collect()
y_eur = df_encoded2["ka_maksettu_eur"]

In [31]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_days = y_days.iloc[:training_indices]
y_test_days = y_days.iloc[training_indices:]

In [32]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_eur = y_eur.iloc[:training_indices]
y_test_eur = y_eur.iloc[training_indices:]

In [33]:
lr_days = LinearRegression().fit(X_train, y_train_days, sample_weight=X_train["weights"])

In [34]:
hgb_days = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_days, sample_weight=X_train["weights"])

In [35]:
lr_eur = LinearRegression().fit(X_train, y_train_eur, sample_weight=X_train["weights"])

In [36]:
hgb_eur = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_eur, sample_weight=X_train["weights"])

### Fairness testing

In [37]:
pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

LinearRegression (Days)
R^2:	0.6896
MAE:	21.5395
MSE:	764.2849
RMSE:	27.6457

HistGradientBoosting (Days)
R^2:	0.8938
MAE:	9.4765
MSE:	261.3907
RMSE:	16.1676

LinearRegression (EUR)
R^2:	0.6638
MAE:	2.8928
MSE:	17.3642
RMSE:	4.1670

HistGradientBoosting (EUR)
R^2:	0.7399
MAE:	2.3226
MSE:	13.4366
RMSE:	3.6656

In [38]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

Fairness assessment for Days by age group (LR):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.110234  43.903121    0.207112  20.148029  25.204202
20-24          5966.0  53.945247  53.696333    0.248914  17.848985  22.727461
25-29          6078.0  58.357339  57.803555    0.553784  18.591622  23.314209
30-34          6590.0  61.052355  61.278029   -0.225674  19.650169  24.742162
35-39          6333.0  62.520726  62.254472    0.266254  20.491530  25.959714
40-44          6338.0  62.357403  62.944962   -0.587559  20.946010  26.704809
45-49          5799.0  64.574612  64.601132   -0.026519  22.146220  28.520839
50-54          5678.0  66.535186  67.066671   -0.531486  23.135098  29.598649
55-59          6217.0  66.519486  67.483582   -0.964095  23.517089  30.247596
60-64          5155.0  71.629771  71.170080    0.459691  25.922502  33.042683
65-67           201.0  72.844006  70.699601    2.144405  19.360640  25.780547
Tieto puuttuu  3386.0  33.549048  33.665485   -0.116437  27.120956  34.683659

In [39]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

Fairness assessment for Days by age group (HGB):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.209239  43.903121    0.306118   9.513442  14.827657
20-24          5966.0  54.169165  53.696333    0.472831   8.963785  14.920827
25-29          6078.0  58.538965  57.803555    0.735410   8.842001  14.909583
30-34          6590.0  61.722733  61.278029    0.444704   8.768804  14.837310
35-39          6333.0  62.517461  62.254472    0.262989   9.336846  15.624801
40-44          6338.0  62.357566  62.944962   -0.587396   8.966070  15.290582
45-49          5799.0  64.495038  64.601132   -0.106094   9.061015  15.836974
50-54          5678.0  66.308121  67.066671   -0.758550   9.637697  16.484862
55-59          6217.0  66.802242  67.483582   -0.681339   9.470631  16.347275
60-64          5155.0  71.117876  71.170080   -0.052204   9.777091  16.952323
65-67           201.0  72.162579  70.699601    1.462979  13.327857  19.021402
Tieto puuttuu  3386.0  34.433971  33.665485    0.768486  13.854151  23.157060

In [40]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

Fairness assessment for EUR by age group (LR):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.786501  33.372060    0.414441  5.651827  6.602279
20-24          5966.0  38.837623  38.868095   -0.030472  3.095513  4.131852
25-29          6078.0  39.993574  39.955372    0.038202  2.467537  3.584051
30-34          6590.0  40.494437  40.452825    0.041612  2.662160  3.676867
35-39          6333.0  41.281199  41.338840   -0.057642  2.759504  3.795892
40-44          6338.0  41.005049  40.995772    0.009276  2.781359  3.742965
45-49          5799.0  40.350950  40.297938    0.053012  2.584919  3.567267
50-54          5678.0  39.055096  39.103329   -0.048233  2.441231  3.332805
55-59          6217.0  37.954836  37.904199    0.050638  2.465328  3.401326
60-64          5155.0  37.126512  37.136210   -0.009699  2.586654  3.597378
65-67           201.0  34.678470  35.271169   -0.592699  2.911675  3.823032
Tieto puuttuu  3386.0  45.393500  45.381701    0.011799  4.899993  7.984722

In [41]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

Fairness assessment for EUR by age group (HGB):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.494875  33.372060    0.122814  3.193033  4.343263
20-24          5966.0  38.855709  38.868095   -0.012386  2.412691  3.429009
25-29          6078.0  40.011702  39.955372    0.056330  2.154697  3.298839
30-34          6590.0  40.607745  40.452825    0.154920  2.136371  3.204195
35-39          6333.0  41.173754  41.338840   -0.165086  2.185106  3.188077
40-44          6338.0  40.965587  40.995772   -0.030185  2.160879  3.066727
45-49          5799.0  40.277343  40.297938   -0.020595  2.104870  3.105764
50-54          5678.0  39.031597  39.103329   -0.071732  2.070707  2.963215
55-59          6217.0  38.039911  37.904199    0.135712  1.997343  2.998334
60-64          5155.0  37.183788  37.136210    0.047578  2.045193  3.156284
65-67           201.0  34.923967  35.271169   -0.347202  2.355415  2.919609
Tieto puuttuu  3386.0  45.235609  45.381701   -0.146092  4.619782  8.077167