# Kela Unemployment benefits dataset - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("data_2024.csv")
df.shape

(1408846, 13)

In [2]:
df.describe()

,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
count,1.408846e+06,1.408846e+06,1408846.0,1.408846e+06,1.408846e+06,1.408846e+06,1.408846e+06
mean,6.948563e+00,2.024069e+05,2024.0,4.576087e+02,2.825526e+01,1.991881e+03,7.664374e+04
std,3.551973e+00,3.551973e+00,0.0,2.808418e+02,1.014163e+02,1.069365e+04,4.067881e+05
min,1.000000e+00,2.024010e+05,2024.0,5.000000e+00,0.000000e+00,-4.350000e+02,-7.766999e+05
25%,4.000000e+00,2.024040e+05,2024.0,2.050000e+02,5.000000e+00,1.430000e+02,5.655650e+03
50%,7.000000e+00,2.024070e+05,2024.0,4.330000e+02,8.000000e+00,3.760000e+02,1.489411e+04
75%,1.000000e+01,2.024100e+05,2024.0,6.980000e+02,1.700000e+01,1.034000e+03,4.066459e+04
max,1.200000e+01,2.024120e+05,2024.0,9.920000e+02,3.636000e+03,5.798260e+05,2.207279e+07

In [3]:
df.isna().sum()

aikatyyppi            0
kuukausi_nro          0
vuosikuukausi         0
vuosi                 0
kunta_nro             0
kunta_nimi            0
ikaryhma              0
sukupuoli             0
etuus                 0
korvausperuste        0
saaja_lkm             0
korvattu_paiva_lkm    0
maksettu_eur          0
dtype: int64

In [4]:
df.head()

,aikatyyppi,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,kunta_nimi,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Kuukausi,5,202405,2024,684,Rauma,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,43,1014,37414.06
1,Kuukausi,5,202405,2024,694,Riihimäki,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,26,547,19830.28
2,Kuukausi,5,202405,2024,698,Rovaniemi,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,58,1350,47764.60
3,Kuukausi,5,202405,2024,700,Ruokolahti,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,4,54,2009.34
4,Kuukausi,5,202405,2024,702,Ruovesi,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,100,3721.00

### Unique values listed

In [5]:
print(df["kunta_nro"].unique())

[684 694 698 700 702 707 710 729 732 734 740 743 749 753 755 758 761 762
 765 778 783 790 831 832 837 844 848 851 853 858 886 889 895 905 908 915
 921 924 927 935 946 977 980 989 992   5  10  20  49  50  51  61  69  71
  75  77  78  79  81  82  86  90  91  92  97  98 102 103 106 108 109 111
 139 140 611 614 616 619 620 623 624 625 630 631 635 636 683 686 687 691
 697 704 738 746 747 751 759 768 785 791 833 834 849 850 854 857 859 890
 892 918 922 934 936 981 153 179 240 286 405 609 205 272 285 297 491 564
 167 199 398 244 241 236 235 233 232 226 224 217 214 211 208 204 202 186
 182 178 177 176 172 171 169 165 151 149 148 146 145 143 142 105  16 505
 529 531 536 543 560 577 581 593 598 604 615 638 678 680 777 887 893 245
 249 257 260 263 271 276 290 301 305 309 320 399 408 410 418 420 422 423
 426 430 444 445 508 541 563 689 845 500 261 317 322 425 434 436 440 475
 494 498 499 503 535 545 562 599  47 976 931 846 288 402  19  18 925 626
 681 739 742 748 781 273 275 287 291 316 400 407 416 608 561 489 213 312
 403 421 435 480 484 504 576 578 588 592 601 538 580 584 595 607 152 181
 230 239 250 507 481 441 433 216 218 231 256 280 300 495  74   9  52  72
 265 284 583 483 478 304  46 170]

In [6]:
print(df["kunta_nimi"].unique())

['Rauma' 'Riihimäki' 'Rovaniemi' 'Ruokolahti' 'Ruovesi' 'Rääkkylä'
 'Raasepori' 'Saarijärvi' 'Salla' 'Salo' 'Savonlinna' 'Seinäjoki'
 'Siilinjärvi' 'Sipoo' 'Siuntio' 'Sodankylä' 'Somero' 'Sonkajärvi'
 'Sotkamo' 'Suonenjoki' 'Säkylä' 'Sastamala' 'Taipalsaari' 'Taivalkoski'
 'Tampere' 'Tervo' 'Tohmajärvi' 'Tornio' 'Turku' 'Tuusula' 'Ulvila'
 'Utajärvi' 'Uusikaupunki' 'Vaasa' 'Valkeakoski' 'Varkaus' 'Vesanto'
 'Veteli' 'Vihti' 'Virolahti' 'Vöyri' 'Ylivieska' 'Ylöjärvi' 'Ähtäri'
 'Äänekoski' 'Alajärvi' 'Alavus' 'Akaa' 'Espoo' 'Eura' 'Eurajoki' 'Forssa'
 'Haapajärvi' 'Haapavesi' 'Hamina' 'Hankasalmi' 'Hanko' 'Harjavalta'
 'Hartola' 'Hattula' 'Hausjärvi' 'Heinävesi' 'Helsinki' 'Vantaa'
 'Hirvensalmi' 'Hollola' 'Huittinen' 'Humppila' 'Hyvinkää' 'Hämeenkyrö'
 'Hämeenlinna' 'Heinola' 'Ii' 'Iisalmi' 'Pornainen' 'Posio' 'Pukkila'
 'Punkalaidun' 'Puolanka' 'Puumala' 'Pyhtää' 'Pyhäjoki' 'Pyhäntä'
 'Pyhäranta' 'Pälkäne' 'Pöytyä' 'Ranua' 'Rautalampi' 'Rautavaara'
 'Reisjärvi' 'Ristijärvi' 'Rusko' 'Sauvo' 'Sievi' 'Siikainen' 'Simo'
 'Soini' 'Sulkava' 'Vaala' 'Siikalatva' 'Taivassalo' 'Tammela' 'Toholampi'
 'Toivakka' 'Pello' 'Tuusniemi' 'Tyrnävä' 'Utsjoki' 'Uurainen' 'Vehmaa'
 'Vesilahti' 'Vimpeli' 'Virrat' 'Ypäjä' 'Imatra' 'Jyväskylä' 'Kemi'
 'Kouvola' 'Lappeenranta' 'Pori' 'Kajaani' 'Kokkola' 'Kotka' 'Kuopio'
 'Mikkeli' 'Oulu' 'Joensuu' 'Tuntematon' 'Lahti' 'Kempele' 'Keminmaa'
 'Kaustinen' 'Kauniainen' 'Kauhava' 'Kauhajoki' 'Karstula' 'Karkkila'
 'Kannus' 'Kankaanpää' 'Kangasala' 'Kalajoki' 'Kaavi' 'Kaarina'
 'Järvenpää' 'Jämsä' 'Juva' 'Juupajoki' 'Juuka' 'Joutsa' 'Joroinen'
 'Jokioinen' 'Janakkala' 'Isojoki' 'Inkoo' 'Inari' 'Ilomantsi' 'Ilmajoki'
 'Ikaalinen' 'Iitti' 'Hyrynsalmi' 'Asikkala' 'Mäntsälä' 'Naantali'
 'Nakkila' 'Nokia' 'Nurmijärvi' 'Orimattila' 'Paimio' 'Parkano'
 'Pieksämäki' 'Pietarsaari' 'Pirkkala' 'Pudasjärvi' 'Porvoo' 'Raahe'
 'Raisio' 'Suomussalmi' 'Urjala' 'Uusikaarlepyy' 'Kerava' 'Keuruu'
 'Kirkkonummi' 'Kitee' 'Kiuruvesi' 'Kokemäki' 'Kontiolahti' 'Kuhmo'
 'Kurikka' 'Kuusamo' 'Outokumpu' 'Kemijärvi' 'Laihia' 'Lapua' 'Laukaa'
 'Lempäälä' 'Leppävirta' 'Lieksa' 'Lieto' 'Liperi' 'Loimaa' 'Lohja'
 'Parainen' 'Mänttä-Vilppula' 'Nurmes' 'Oulainen' 'Rautjärvi' 'Tervola'
 'Muurame' 'Kittilä' 'Kärsämäki' 'Kemiönsaari' 'Liminka' 'Loviisa'
 'Lumijoki' 'Luoto' 'Maalahti' 'Muhos' 'Muonio' 'Mustasaari' 'Mynämäki'
 'Nivala' 'Närpiö' 'Orivesi' 'Pedersören kunta' 'Enontekiö' 'Ylitornio'
 'Viitasaari' 'Teuva' 'Kruunupyy' 'Lapinlahti' 'Aura' 'Askola' 'Vieremä'
 'Pyhäjärvi' 'Rantasalmi' 'Savitaipale' 'Savukoski' 'Siikajoki' 'Sysmä'
 'Kolari' 'Konnevesi' 'Kristiinankaupunki' 'Kuhmoinen' 'Kärkölä' 'Laitila'
 'Lapinjärvi' 'Lemi' 'Pomarkku' 'Oripää' 'Miehikkälä' 'Kangasniemi'
 'Kyyjärvi' 'Lappajärvi' 'Lestijärvi' 'Luhanka' 'Marttila' 'Merikarvia'
 'Myrskylä' 'Padasjoki' 'Paltamo' 'Pertunmaa' 'Petäjävesi' 'Pihtipudas'
 'Nousiainen' 'Parikkala' 'Perho' 'Pielavesi' 'Polvijärvi' 'Isokyrö'
 'Jämijärvi' 'Karvia' 'Keitele' 'Kihniö' 'Mäntyharju' 'Masku' 'Luumäki'
 'Loppi' 'Kannonkoski' 'Karijoki' 'Kaskinen' 'Kinnula' 'Korsnäs'
 'Kuortane' 'Multia' 'Halsua' 'Alavieska' 'Evijärvi' 'Hailuoto'
 'Kivijärvi' 'Koski Tl' 'Pelkosenniemi' 'Merijärvi' 'Maarianhamina'
 'Kustavi' 'Enonkoski' 'Jomala']

In [7]:
print(df["ikaryhma"].unique())

['60-64' 'Tieto puuttuu' '17-19' '20-24' '25-29' '30-34' '35-39' '40-44'
 '50-54' '45-49' '55-59' '65-67']

In [8]:
print(df["sukupuoli"].unique())

['Mies' 'Nainen' 'Tuntematon']

In [9]:
print(df["etuus"].unique())

['Työmarkkinatuki' 'Yhteensä' 'Peruspäiväraha'
 'Työmarkkinatukietuudet yhteensä' 'Kotoutumistuki']

In [10]:
print(df["korvausperuste"].unique())

['Työttömyysajalta' '-Työkokeilu' '-Työnhakuvalmennus' 'Yhteensä'
 'Työllistymistä edistävien palvelujen ajalta' '-Omaehtoinen opiskelu'
 '-Työvoimakoulutus' '-Kuntouttava työtoiminta' '-Matka-avustus'
 'Tieto puuttuu' '-Koulutuskokeilu' '-Uravalmennus' '-Tuntematon palvelu']

### Sums of unknown values

In [11]:
print((df["kunta_nimi"]=="Tuntematon").sum())

11155

In [12]:
print((df["ikaryhma"]=="Tieto puuttuu").sum())

325239

In [13]:
print((df["sukupuoli"]=="Tuntematon").sum())

155072

In [14]:
print((df["korvausperuste"]=="Tieto puuttuu").sum())

26749

### Dataframe editing

In [15]:
df = df.drop(["kunta_nimi", "vuosi", "vuosikuukausi"], axis=1)
df.shape

(1408846, 10)

In [16]:
df = df[(df["saaja_lkm"]<4)|((df["ikaryhma"]!="Tieto puuttuu")&(df["sukupuoli"]!="Tuntematon"))]
df.shape

(1185751, 10)

In [17]:
print((df["ikaryhma"]=="Tuntematon").sum())
print((df["sukupuoli"]=="Tuntematon").sum())
df.head(15)

0
102144

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Kuukausi,5,684,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,43,1014,37414.06
1,Kuukausi,5,694,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,26,547,19830.28
2,Kuukausi,5,698,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,58,1350,47764.60
3,Kuukausi,5,700,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,4,54,2009.34
4,Kuukausi,5,702,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,100,3721.00
5,Kuukausi,5,707,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,100,3721.00
6,Kuukausi,5,710,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,42,930,33932.28
7,Kuukausi,5,729,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,16,389,13791.69
8,Kuukausi,5,732,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,131,4473.11
9,Kuukausi,5,734,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,38,897,33129.84
10,Kuukausi,5,740,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,41,898,32287.65
11,Kuukausi,5,743,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,51,1319,47717.02
12,Kuukausi,5,749,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,14,311,11572.31
13,Kuukausi,5,753,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,16,342,11818.98
14,Kuukausi,5,755,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,120,4465.20

In [18]:
df = df[df["maksettu_eur"]>0]
df = df[df["saaja_lkm"] > 0]
df = df[df["korvattu_paiva_lkm"] > 0]
df.shape

(1142994, 10)

In [19]:
print(df.dtypes)

aikatyyppi             object
kuukausi_nro            int64
kunta_nro               int64
ikaryhma               object
sukupuoli              object
etuus                  object
korvausperuste         object
saaja_lkm               int64
korvattu_paiva_lkm      int64
maksettu_eur          float64
dtype: object

In [20]:
df["ka_korvatut_paivat"] = df["korvattu_paiva_lkm"].div(df["saaja_lkm"])
df["ka_maksettu_eur"] = df["maksettu_eur"].div(df["korvattu_paiva_lkm"])

In [21]:
df = df.drop(["saaja_lkm", "korvattu_paiva_lkm", "maksettu_eur"], axis = 1)
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur
0,Kuukausi,5,684,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,23.581395,36.897495
1,Kuukausi,5,694,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,21.038462,36.252797
2,Kuukausi,5,698,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,23.275862,35.381185
3,Kuukausi,5,700,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,13.500000,37.210000
4,Kuukausi,5,702,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,20.000000,37.210000

In [22]:
print("ka € min:", df["ka_maksettu_eur"].min())
print("ka € max:", df["ka_maksettu_eur"].max())
print("ka € median:", df["ka_maksettu_eur"].median())

print("ka pv min:", df["ka_korvatut_paivat"].min())
print("ka pv max", df["ka_korvatut_paivat"].max())
print("ka_pv_median", df["ka_korvatut_paivat"].median())

ka € min: 0.001388888888888889
ka € max: 715.99
ka € median: 39.14636038961039
ka pv min: 0.3333333333333333
ka pv max 390.0
ka_pv_median 38.0

In [45]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded.shape)
df_encoded.head()

(1142994, 332)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,ikaryhma_30-34,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,5,23.581395,36.897495,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,21.038462,36.252797,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,23.275862,35.381185,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,13.500000,37.210000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,20.000000,37.210000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Train models

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor

X = df_encoded.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
y_days = df_encoded["ka_korvatut_paivat"]
y_eur = df_encoded["ka_maksettu_eur"]

X_train, X_test, y_train_days, y_test_days = train_test_split(X, y_days, test_size=0.2, random_state=42)
X_train, X_test, y_train_eur, y_test_eur = train_test_split(X, y_eur, test_size=0.2, random_state=42)

lr_days = LinearRegression().fit(X_train, y_train_days)
hgb_days = HistGradientBoostingRegressor().fit(X_train, y_train_days)
lr_eur = LinearRegression().fit(X_train, y_train_eur)
hgb_eur = HistGradientBoostingRegressor().fit(X_train, y_train_eur)

In [25]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def evaluate_model(y_true, y_pred, model_name="model"):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    print(f"{model_name}")
    print(f"R^2:\t{r2:.4f}")
    print(f"MAE:\t{mae:.4f}")
    print(f"MSE:\t{mse:.4f}")
    print(f"RMSE:\t{rmse:.4f}\n")

pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

LinearRegression (Days)
R^2:	0.6939
MAE:	21.5069
MSE:	751.3243
RMSE:	27.4103

HistGradientBoosting (Days)
R^2:	0.8957
MAE:	9.3360
MSE:	256.1253
RMSE:	16.0039

LinearRegression (EUR)
R^2:	0.6483
MAE:	2.7962
MSE:	18.1621
RMSE:	4.2617

HistGradientBoosting (EUR)
R^2:	0.7405
MAE:	2.2768
MSE:	13.4015
RMSE:	3.6608

### Testing fairness

In [32]:
def fairness_by_group(y_true, y_pred, X_test, sensitive_prefix):
    sens_cols = [col for col in X_test.columns if col.startswith(sensitive_prefix)]

    results = {}

    for col in sens_cols:
        mask = X_test[col] == 1

        group_name = col.replace(sensitive_prefix, "").replace("_", "")

        group_y_true = y_true[mask]
        group_y_pred = y_pred[mask]

        results[group_name] = {
            "count": mask.sum(),
            "mean_pred": group_y_pred.mean(),
            "mean_true": group_y_true.mean(),
            "mean_error": (group_y_pred - group_y_true).mean(),
            "MAE": mean_absolute_error(group_y_true, group_y_pred),
            "RMSE": mean_squared_error(group_y_true, group_y_pred) ** 0.5
        }

    return pd.DataFrame(results).T

In [39]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (LR):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

Fairness assessment for Days by sex (LR):
               count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        113462.0  62.086426  61.980898    0.105528  21.589725  27.454361
Nainen      102280.0  62.340543  62.316660    0.023884  20.580964  26.065869
Tuntematon   12857.0  33.903718  34.018174   -0.114456  28.141439  36.082210

Fairness assessment for Days by age group (LR):
                 count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19           8594.0  44.349081  44.423006   -0.073925  21.552370  26.780588
20-24          22642.0  53.703341  53.830208   -0.126866  18.351720  23.279038
25-29          22962.0  57.709564  57.558330    0.151234  18.843699  23.552905
30-34          24739.0  60.804417  60.572249    0.232168  19.675116  24.829979
35-39          24200.0  61.779939  61.838218   -0.058279  20.052717  25.312116
40-44          24071.0  63.419643  63.112114    0.307529  20.608800  25.889787
45-49          22586.0  65.130143  65.046141    0.084001  21.705624  27.557414
50-54          21984.0  66.471101  66.369631    0.101470  22.814249  28.957440
55-59          23510.0  66.463977  66.293741    0.170236  23.090214  29.255595
60-64          19565.0  72.241062  72.507965   -0.266903  25.617035  32.505482
65-67            889.0  72.264383  72.481020   -0.216637  19.428442  25.301157
Tieto puuttuu  12857.0  33.903718  34.018174   -0.114456  28.141439  36.082210

In [40]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (HGB):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

Fairness assessment for Days by sex (HGB):
               count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        113462.0  61.889585  61.980898   -0.091312   9.088594  15.535999
Nainen      102280.0  62.398687  62.316660    0.082027   9.034477  15.273823
Tuntematon   12857.0  34.583255  34.018174    0.565081  13.918289  23.833273

Fairness assessment for Days by age group (HGB):
                 count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19           8594.0  44.850588  44.423006    0.427582   9.321637  14.721568
20-24          22642.0  54.156043  53.830208    0.325835   8.828328  14.752679
25-29          22962.0  58.048415  57.558330    0.490086   8.550153  14.586519
30-34          24739.0  60.816903  60.572249    0.244654   8.685187  15.053616
35-39          24200.0  61.906741  61.838218    0.068523   8.936530  15.135585
40-44          24071.0  63.096785  63.112114   -0.015329   8.675628  14.666128
45-49          22586.0  64.656965  65.046141   -0.389176   8.990957  15.310331
50-54          21984.0  66.042925  66.369631   -0.326705   9.599328  16.361308
55-59          23510.0  65.900769  66.293741   -0.392972   9.246744  16.047379
60-64          19565.0  72.072682  72.507965   -0.435283   9.905923  16.952313
65-67            889.0  74.853622  72.481020    2.372602  15.373510  20.871734
Tieto puuttuu  12857.0  34.583255  34.018174    0.565081  13.918289  23.833273

In [42]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (LR):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

Fairness assessment for EUR by sex (LR):
               count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        113462.0  39.559199  39.557660    0.001539  2.530776  3.486605
Nainen      102280.0  39.221425  39.205767    0.015658  2.808435  4.230819
Tuntematon   12857.0  45.421423  45.327669    0.093754  5.041518  8.558495

Fairness assessment for EUR by age group (LR):
                 count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19           8594.0  33.925721  33.807426    0.118295  5.765351  6.755038
20-24          22642.0  38.911745  38.916820   -0.005076  3.149728  4.183337
25-29          22962.0  39.922043  39.935511   -0.013468  2.330077  3.245979
30-34          24739.0  40.604939  40.560032    0.044907  2.495914  3.803773
35-39          24200.0  41.232739  41.254922   -0.022184  2.655373  3.926298
40-44          24071.0  41.023308  41.011533    0.011775  2.565813  3.527221
45-49          22586.0  40.389428  40.344876    0.044552  2.429534  4.264749
50-54          21984.0  39.045489  39.080284   -0.034795  2.340658  3.267995
55-59          23510.0  38.004975  37.980395    0.024580  2.358203  3.332786
60-64          19565.0  37.070555  37.105879   -0.035324  2.436820  3.386306
65-67            889.0  35.457735  35.234943    0.222793  3.161453  4.525981
Tieto puuttuu  12857.0  45.421423  45.327669    0.093754  5.041518  8.558495

In [44]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (HGB):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

Fairness assessment for EUR by sex (HGB):
               count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        113462.0  39.549080  39.557660   -0.008580  1.990451  2.891989
Nainen      102280.0  39.219132  39.205767    0.013365  2.305893  3.621388
Tuntematon   12857.0  45.360442  45.327669    0.032773  4.572995  7.755257

Fairness assessment for EUR by age group (HGB):
                 count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19           8594.0  33.938332  33.807426    0.130907  3.335575  4.499253
20-24          22642.0  38.963626  38.916820    0.046806  2.362712  3.364787
25-29          22962.0  40.001968  39.935511    0.066457  2.091520  2.993178
30-34          24739.0  40.535331  40.560032   -0.024702  2.107290  3.117795
35-39          24200.0  41.137191  41.254922   -0.117731  2.164557  3.409710
40-44          24071.0  40.936724  41.011533   -0.074809  2.056400  2.972375
45-49          22586.0  40.292550  40.344876   -0.052326  2.052037  3.919233
50-54          21984.0  39.023541  39.080284   -0.056742  2.051903  2.954427
55-59          23510.0  38.089774  37.980395    0.109379  1.960725  2.937080
60-64          19565.0  37.164795  37.105879    0.058917  1.919121  2.898562
65-67            889.0  35.964644  35.234943    0.729701  2.682346  3.933409
Tieto puuttuu  12857.0  45.360442  45.327669    0.032773  4.572995  7.755257