# Kela Unemployment benefits dataset - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("data_2024.csv")
df.shape

(1408846, 13)

In [8]:
df.describe()

,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
count,1.408846e+06,1.408846e+06,1408846.0,1.408846e+06,1.408846e+06,1.408846e+06,1.408846e+06
mean,6.948563e+00,2.024069e+05,2024.0,4.576087e+02,2.825526e+01,1.991881e+03,7.664374e+04
std,3.551973e+00,3.551973e+00,0.0,2.808418e+02,1.014163e+02,1.069365e+04,4.067881e+05
min,1.000000e+00,2.024010e+05,2024.0,5.000000e+00,0.000000e+00,-4.350000e+02,-7.766999e+05
25%,4.000000e+00,2.024040e+05,2024.0,2.050000e+02,5.000000e+00,1.430000e+02,5.655650e+03
50%,7.000000e+00,2.024070e+05,2024.0,4.330000e+02,8.000000e+00,3.760000e+02,1.489411e+04
75%,1.000000e+01,2.024100e+05,2024.0,6.980000e+02,1.700000e+01,1.034000e+03,4.066459e+04
max,1.200000e+01,2.024120e+05,2024.0,9.920000e+02,3.636000e+03,5.798260e+05,2.207279e+07

In [3]:
df.isna().sum()

aikatyyppi            0
kuukausi_nro          0
vuosikuukausi         0
vuosi                 0
kunta_nro             0
kunta_nimi            0
ikaryhma              0
sukupuoli             0
etuus                 0
korvausperuste        0
saaja_lkm             0
korvattu_paiva_lkm    0
maksettu_eur          0
dtype: int64

In [7]:
df.head()

,aikatyyppi,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,kunta_nimi,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Kuukausi,5,202405,2024,684,Rauma,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,43,1014,37414.06
1,Kuukausi,5,202405,2024,694,Riihimäki,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,26,547,19830.28
2,Kuukausi,5,202405,2024,698,Rovaniemi,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,58,1350,47764.60
3,Kuukausi,5,202405,2024,700,Ruokolahti,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,4,54,2009.34
4,Kuukausi,5,202405,2024,702,Ruovesi,60-64,Mies,Työmarkkinatuki,Työttömyysajalta,5,100,3721.00

### Unique values listed

In [24]:
print(df["kunta_nro"].unique())

[684 694 698 700 702 707 710 729 732 734 740 743 749 753 755 758 761 762
 765 778 783 790 831 832 837 844 848 851 853 858 886 889 895 905 908 915
 921 924 927 935 946 977 980 989 992   5  10  20  49  50  51  61  69  71
  75  77  78  79  81  82  86  90  91  92  97  98 102 103 106 108 109 111
 139 140 611 614 616 619 620 623 624 625 630 631 635 636 683 686 687 691
 697 704 738 746 747 751 759 768 785 791 833 834 849 850 854 857 859 890
 892 918 922 934 936 981 153 179 240 286 405 609 205 272 285 297 491 564
 167 199 398 244 241 236 235 233 232 226 224 217 214 211 208 204 202 186
 182 178 177 176 172 171 169 165 151 149 148 146 145 143 142 105  16 505
 529 531 536 543 560 577 581 593 598 604 615 638 678 680 777 887 893 245
 249 257 260 263 271 276 290 301 305 309 320 399 408 410 418 420 422 423
 426 430 444 445 508 541 563 689 845 500 261 317 322 425 434 436 440 475
 494 498 499 503 535 545 562 599  47 976 931 846 288 402  19  18 925 626
 681 739 742 748 781 273 275 287 291 316 400 407 416 608 561 489 213 312
 403 421 435 480 484 504 576 578 588 592 601 538 580 584 595 607 152 181
 230 239 250 507 481 441 433 216 218 231 256 280 300 495  74   9  52  72
 265 284 583 483 478 304  46 170]

In [28]:
print(df["kunta_nimi"].unique())

['Rauma' 'Riihimäki' 'Rovaniemi' 'Ruokolahti' 'Ruovesi' 'Rääkkylä'
 'Raasepori' 'Saarijärvi' 'Salla' 'Salo' 'Savonlinna' 'Seinäjoki'
 'Siilinjärvi' 'Sipoo' 'Siuntio' 'Sodankylä' 'Somero' 'Sonkajärvi'
 'Sotkamo' 'Suonenjoki' 'Säkylä' 'Sastamala' 'Taipalsaari' 'Taivalkoski'
 'Tampere' 'Tervo' 'Tohmajärvi' 'Tornio' 'Turku' 'Tuusula' 'Ulvila'
 'Utajärvi' 'Uusikaupunki' 'Vaasa' 'Valkeakoski' 'Varkaus' 'Vesanto'
 'Veteli' 'Vihti' 'Virolahti' 'Vöyri' 'Ylivieska' 'Ylöjärvi' 'Ähtäri'
 'Äänekoski' 'Alajärvi' 'Alavus' 'Akaa' 'Espoo' 'Eura' 'Eurajoki' 'Forssa'
 'Haapajärvi' 'Haapavesi' 'Hamina' 'Hankasalmi' 'Hanko' 'Harjavalta'
 'Hartola' 'Hattula' 'Hausjärvi' 'Heinävesi' 'Helsinki' 'Vantaa'
 'Hirvensalmi' 'Hollola' 'Huittinen' 'Humppila' 'Hyvinkää' 'Hämeenkyrö'
 'Hämeenlinna' 'Heinola' 'Ii' 'Iisalmi' 'Pornainen' 'Posio' 'Pukkila'
 'Punkalaidun' 'Puolanka' 'Puumala' 'Pyhtää' 'Pyhäjoki' 'Pyhäntä'
 'Pyhäranta' 'Pälkäne' 'Pöytyä' 'Ranua' 'Rautalampi' 'Rautavaara'
 'Reisjärvi' 'Ristijärvi' 'Rusko' 'Sauvo' 'Sievi' 'Siikainen' 'Simo'
 'Soini' 'Sulkava' 'Vaala' 'Siikalatva' 'Taivassalo' 'Tammela' 'Toholampi'
 'Toivakka' 'Pello' 'Tuusniemi' 'Tyrnävä' 'Utsjoki' 'Uurainen' 'Vehmaa'
 'Vesilahti' 'Vimpeli' 'Virrat' 'Ypäjä' 'Imatra' 'Jyväskylä' 'Kemi'
 'Kouvola' 'Lappeenranta' 'Pori' 'Kajaani' 'Kokkola' 'Kotka' 'Kuopio'
 'Mikkeli' 'Oulu' 'Joensuu' 'Tuntematon' 'Lahti' 'Kempele' 'Keminmaa'
 'Kaustinen' 'Kauniainen' 'Kauhava' 'Kauhajoki' 'Karstula' 'Karkkila'
 'Kannus' 'Kankaanpää' 'Kangasala' 'Kalajoki' 'Kaavi' 'Kaarina'
 'Järvenpää' 'Jämsä' 'Juva' 'Juupajoki' 'Juuka' 'Joutsa' 'Joroinen'
 'Jokioinen' 'Janakkala' 'Isojoki' 'Inkoo' 'Inari' 'Ilomantsi' 'Ilmajoki'
 'Ikaalinen' 'Iitti' 'Hyrynsalmi' 'Asikkala' 'Mäntsälä' 'Naantali'
 'Nakkila' 'Nokia' 'Nurmijärvi' 'Orimattila' 'Paimio' 'Parkano'
 'Pieksämäki' 'Pietarsaari' 'Pirkkala' 'Pudasjärvi' 'Porvoo' 'Raahe'
 'Raisio' 'Suomussalmi' 'Urjala' 'Uusikaarlepyy' 'Kerava' 'Keuruu'
 'Kirkkonummi' 'Kitee' 'Kiuruvesi' 'Kokemäki' 'Kontiolahti' 'Kuhmo'
 'Kurikka' 'Kuusamo' 'Outokumpu' 'Kemijärvi' 'Laihia' 'Lapua' 'Laukaa'
 'Lempäälä' 'Leppävirta' 'Lieksa' 'Lieto' 'Liperi' 'Loimaa' 'Lohja'
 'Parainen' 'Mänttä-Vilppula' 'Nurmes' 'Oulainen' 'Rautjärvi' 'Tervola'
 'Muurame' 'Kittilä' 'Kärsämäki' 'Kemiönsaari' 'Liminka' 'Loviisa'
 'Lumijoki' 'Luoto' 'Maalahti' 'Muhos' 'Muonio' 'Mustasaari' 'Mynämäki'
 'Nivala' 'Närpiö' 'Orivesi' 'Pedersören kunta' 'Enontekiö' 'Ylitornio'
 'Viitasaari' 'Teuva' 'Kruunupyy' 'Lapinlahti' 'Aura' 'Askola' 'Vieremä'
 'Pyhäjärvi' 'Rantasalmi' 'Savitaipale' 'Savukoski' 'Siikajoki' 'Sysmä'
 'Kolari' 'Konnevesi' 'Kristiinankaupunki' 'Kuhmoinen' 'Kärkölä' 'Laitila'
 'Lapinjärvi' 'Lemi' 'Pomarkku' 'Oripää' 'Miehikkälä' 'Kangasniemi'
 'Kyyjärvi' 'Lappajärvi' 'Lestijärvi' 'Luhanka' 'Marttila' 'Merikarvia'
 'Myrskylä' 'Padasjoki' 'Paltamo' 'Pertunmaa' 'Petäjävesi' 'Pihtipudas'
 'Nousiainen' 'Parikkala' 'Perho' 'Pielavesi' 'Polvijärvi' 'Isokyrö'
 'Jämijärvi' 'Karvia' 'Keitele' 'Kihniö' 'Mäntyharju' 'Masku' 'Luumäki'
 'Loppi' 'Kannonkoski' 'Karijoki' 'Kaskinen' 'Kinnula' 'Korsnäs'
 'Kuortane' 'Multia' 'Halsua' 'Alavieska' 'Evijärvi' 'Hailuoto'
 'Kivijärvi' 'Koski Tl' 'Pelkosenniemi' 'Merijärvi' 'Maarianhamina'
 'Kustavi' 'Enonkoski' 'Jomala']

In [11]:
print(df["ikaryhma"].unique())

['60-64' 'Tieto puuttuu' '17-19' '20-24' '25-29' '30-34' '35-39' '40-44'
 '50-54' '45-49' '55-59' '65-67']

In [12]:
print(df["sukupuoli"].unique())

['Mies' 'Nainen' 'Tuntematon']

In [14]:
print(df["etuus"].unique())

['Työmarkkinatuki' 'Yhteensä' 'Peruspäiväraha'
 'Työmarkkinatukietuudet yhteensä' 'Kotoutumistuki']

In [15]:
print(df["korvausperuste"].unique())

['Työttömyysajalta' '-Työkokeilu' '-Työnhakuvalmennus' 'Yhteensä'
 'Työllistymistä edistävien palvelujen ajalta' '-Omaehtoinen opiskelu'
 '-Työvoimakoulutus' '-Kuntouttava työtoiminta' '-Matka-avustus'
 'Tieto puuttuu' '-Koulutuskokeilu' '-Uravalmennus' '-Tuntematon palvelu']

### Sums of unknown values

In [31]:
print((df["kunta_nimi"]=="Tuntematon").sum())

11155

In [32]:
print((df["ikaryhma"]=="Tieto puuttuu").sum())

325239

In [33]:
print((df["sukupuoli"]=="Tuntematon").sum())

155072

In [34]:
print((df["korvausperuste"]=="Tieto puuttuu").sum())

26749

### Dataframe editing (removing unknown values)

In [38]:
df = df[df["kunta_nimi"]!="Tuntematon"]
df = df[df["ikaryhma"]!="Tieto puuttuu"]
df = df[df["sukupuoli"]!="Tuntematon"]
df = df[df["korvausperuste"]!="Tieto puuttuu"]

df.shape

(1072190, 13)