# Kela Unemployment benefits dataset - Exploratory Data Analysis

In [46]:
import pandas as pd
import numpy as np
import gc

df = pd.read_csv("data_2024.csv")
df.shape

(1408846, 13)

In [47]:
df.describe()

,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
count,1.408846e+06,1.408846e+06,1408846.0,1.408846e+06,1.408846e+06,1.408846e+06,1.408846e+06
mean,6.948563e+00,2.024069e+05,2024.0,4.576087e+02,2.825526e+01,1.991881e+03,7.664374e+04
std,3.551973e+00,3.551973e+00,0.0,2.808418e+02,1.014163e+02,1.069365e+04,4.067881e+05
min,1.000000e+00,2.024010e+05,2024.0,5.000000e+00,0.000000e+00,-4.350000e+02,-7.766999e+05
25%,4.000000e+00,2.024040e+05,2024.0,2.050000e+02,5.000000e+00,1.430000e+02,5.655650e+03
50%,7.000000e+00,2.024070e+05,2024.0,4.330000e+02,8.000000e+00,3.760000e+02,1.489411e+04
75%,1.000000e+01,2.024100e+05,2024.0,6.980000e+02,1.700000e+01,1.034000e+03,4.066459e+04
max,1.200000e+01,2.024120e+05,2024.0,9.920000e+02,3.636000e+03,5.798260e+05,2.207279e+07

In [48]:
df.isna().sum()

aikatyyppi            0
kuukausi_nro          0
vuosikuukausi         0
vuosi                 0
kunta_nro             0
kunta_nimi            0
ikaryhma              0
sukupuoli             0
etuus                 0
korvausperuste        0
saaja_lkm             0
korvattu_paiva_lkm    0
maksettu_eur          0
dtype: int64

In [49]:
df.head()

,aikatyyppi,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,kunta_nimi,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,202412,2024,272,Kokkola,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,202407,2024,92,Vantaa,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,202412,2024,109,Hämeenlinna,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,202401,2024,178,Juva,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
4,Kuukausi,3,202403,2024,233,Kauhava,Tieto puuttuu,Tuntematon,Yhteensä,-Omaehtoinen opiskelu,8,161,8311.91

### Unique values listed

In [50]:
print(df["kunta_nro"].unique())

[272  92 109 178 233 434 405 593 700 426 684 601 140 740 922 232 936 186
  91 491 743 638 285 927 422 707 249 108  19 529 398 560 683 758 857  49
 858 895  51 595 146  98 631 245 179 286 561  79 142 176  97 694 317 710
 853 211 739 167 689 781 205 484 578 543 263 837 747 886 111   5 239 240
 241 790 276 494 564 625 507 257 420  69 441  77 609 312 399 935 250 410
 408 599 734 508 480 678 729 481 169 444 202  86 698 616 172 403 430 626
 588 977  18 305 182 598 921  61 751  71 214 850 287 309  78 686 531 851
  90 475 503 611 102 213 505 749 499 171 545  20 980 624 576 500 199  75
 992 139 765 753 416 844 106 149 265  16 316 244 541 423 145 636 762 445
 746 165 320 905 981 915 271 208 153 535 604 846 143 946 261 536 148   9
 181 301 580 562 440 889 297 230 859 854 925 918 581 892 288 614 322 833
 785  10 224 691 777 418 280 893 290 635 704 489 615 177 680 607 400 433
  50 887 989 924 260 681 845 755 256 783  47 608 563 687 791 273 402  82
 495 831 584 304 832 498 931 976 300 103 697 152 619 577 702  81 425 761
 538 620 623 849 759 407 748 235 908  46 778 275 848 834 217 742 504 204
 890  52 218 421 236 151 483 738  72 436 105 934 226 732 583 592 284 291
 435 231 216 630 768  74 170 478]

In [51]:
print(df["kunta_nimi"].unique())

['Kokkola' 'Vantaa' 'Hämeenlinna' 'Juva' 'Kauhava' 'Loviisa'
 'Lappeenranta' 'Pieksämäki' 'Ruokolahti' 'Liperi' 'Rauma' 'Pihtipudas'
 'Iisalmi' 'Savonlinna' 'Vesilahti' 'Kauhajoki' 'Virrat' 'Järvenpää'
 'Helsinki' 'Mikkeli' 'Seinäjoki' 'Porvoo' 'Kotka' 'Vihti' 'Lieksa'
 'Rääkkylä' 'Keuruu' 'Hämeenkyrö' 'Aura' 'Naantali' 'Lahti' 'Orimattila'
 'Ranua' 'Sodankylä' 'Tuusniemi' 'Espoo' 'Tuusula' 'Uusikaupunki'
 'Eurajoki' 'Pielavesi' 'Ilomantsi' 'Hollola' 'Pyhäranta' 'Kerava'
 'Jyväskylä' 'Kouvola' 'Oripää' 'Harjavalta' 'Iitti' 'Juuka' 'Hirvensalmi'
 'Riihimäki' 'Kärsämäki' 'Raasepori' 'Turku' 'Kangasala' 'Savitaipale'
 'Joensuu' 'Rautjärvi' 'Sysmä' 'Kajaani' 'Merikarvia' 'Paltamo'
 'Nurmijärvi' 'Kiuruvesi' 'Tampere' 'Siikainen' 'Ulvila' 'Heinola'
 'Alajärvi' 'Keitele' 'Kemi' 'Keminmaa' 'Sastamala' 'Kontiolahti' 'Muhos'
 'Oulu' 'Pyhäjoki' 'Mäntyharju' 'Kirkkonummi' 'Leppävirta' 'Haapajärvi'
 'Luumäki' 'Hankasalmi' 'Pori' 'Kyyjärvi' 'Laihia' 'Virolahti' 'Kihniö'
 'Laukaa' 'Lapua' 'Pedersören kunta' 'Salo' 'Mänttä-Vilppula' 'Marttila'
 'Raahe' 'Saarijärvi' 'Masku' 'Jokioinen' 'Lohja' 'Kaarina' 'Hausjärvi'
 'Rovaniemi' 'Pukkila' 'Joutsa' 'Lappajärvi' 'Loimaa' 'Pyhäjärvi'
 'Pertunmaa' 'Ylivieska' 'Askola' 'Kuusamo' 'Jämsä' 'Pietarsaari'
 'Vesanto' 'Forssa' 'Simo' 'Haapavesi' 'Kankaanpää' 'Toivakka'
 'Kristiinankaupunki' 'Outokumpu' 'Hanko' 'Rautalampi' 'Nakkila' 'Tornio'
 'Heinävesi' 'Maalahti' 'Mynämäki' 'Pornainen' 'Huittinen' 'Kangasniemi'
 'Mäntsälä' 'Siilinjärvi' 'Mustasaari' 'Joroinen' 'Närpiö' 'Akaa'
 'Ylöjärvi' 'Pyhtää' 'Padasjoki' 'Muurame' 'Tuntematon' 'Hamina'
 'Äänekoski' 'Ii' 'Sotkamo' 'Sipoo' 'Lemi' 'Tervo' 'Hyvinkää' 'Inkoo'
 'Kivijärvi' 'Asikkala' 'Kärkölä' 'Kempele' 'Nurmes' 'Lieto' 'Ilmajoki'
 'Pöytyä' 'Sonkajärvi' 'Parainen' 'Sievi' 'Janakkala' 'Kemijärvi' 'Vaasa'
 'Ypäjä' 'Varkaus' 'Kokemäki' 'Kalajoki' 'Imatra' 'Nivala' 'Pirkkala'
 'Teuva' 'Ikaalinen' 'Vöyri' 'Kittilä' 'Nokia' 'Inari' 'Alavieska'
 'Jämijärvi' 'Kurikka' 'Parikkala' 'Orivesi' 'Luoto' 'Utajärvi' 'Kuopio'
 'Karvia' 'Tyrnävä' 'Pello' 'Vieremä' 'Vehmaa' 'Parkano' 'Uurainen'
 'Kruunupyy' 'Posio' 'Kemiönsaari' 'Taivassalo' 'Vaala' 'Alavus'
 'Karkkila' 'Reisjärvi' 'Suomussalmi' 'Lempäälä' 'Korsnäs' 'Uusikaarlepyy'
 'Kuhmo' 'Pälkäne' 'Rusko' 'Miehikkälä' 'Pudasjärvi' 'Juupajoki' 'Raisio'
 'Polvijärvi' 'Laitila' 'Loppi' 'Eura' 'Urjala' 'Ähtäri' 'Veteli' 'Kitee'
 'Rantasalmi' 'Tervola' 'Siuntio' 'Kinnula' 'Säkylä' 'Enontekiö'
 'Pomarkku' 'Oulainen' 'Rautavaara' 'Siikalatva' 'Kolari' 'Lapinlahti'
 'Hattula' 'Multia' 'Taipalsaari' 'Perho' 'Kustavi' 'Taivalkoski' 'Muonio'
 'Viitasaari' 'Ylitornio' 'Kuortane' 'Humppila' 'Ristijärvi' 'Isokyrö'
 'Punkalaidun' 'Paimio' 'Ruovesi' 'Hartola' 'Liminka' 'Somero'
 'Nousiainen' 'Puolanka' 'Puumala' 'Toholampi' 'Soini' 'Lapinjärvi'
 'Siikajoki' 'Kauniainen' 'Valkeakoski' 'Enonkoski' 'Suonenjoki'
 'Konnevesi' 'Tohmajärvi' 'Tammela' 'Kannus' 'Savukoski' 'Myrskylä'
 'Kaavi' 'Utsjoki' 'Evijärvi' 'Karijoki' 'Lestijärvi' 'Kaustinen'
 'Isojoki' 'Merijärvi' 'Sauvo' 'Hailuoto' 'Lumijoki' 'Hyrynsalmi'
 'Vimpeli' 'Karstula' 'Salla' 'Pelkosenniemi' 'Petäjävesi' 'Koski Tl'
 'Kuhmoinen' 'Luhanka' 'Kaskinen' 'Kannonkoski' 'Pyhäntä' 'Sulkava'
 'Halsua' 'Jomala' 'Maarianhamina']

In [52]:
print(df["ikaryhma"].unique())

['35-39' '50-54' '60-64' 'Tieto puuttuu' '45-49' '17-19' '40-44' '55-59'
 '20-24' '25-29' '30-34' '65-67']

In [53]:
print(df["sukupuoli"].unique())

['Mies' 'Tuntematon' 'Nainen']

In [54]:
print(df["etuus"].unique())

['Yhteensä' 'Työmarkkinatukietuudet yhteensä' 'Työmarkkinatuki'
 'Peruspäiväraha' 'Kotoutumistuki']

In [55]:
print(df["korvausperuste"].unique())

['-Uravalmennus' '-Kuntouttava työtoiminta'
 'Työllistymistä edistävien palvelujen ajalta' '-Omaehtoinen opiskelu'
 'Yhteensä' 'Työttömyysajalta' '-Työvoimakoulutus' '-Työkokeilu'
 '-Tuntematon palvelu' '-Työnhakuvalmennus' 'Tieto puuttuu'
 '-Koulutuskokeilu' '-Matka-avustus']

### Sums of unknown values

In [56]:
print((df["kunta_nimi"]=="Tuntematon").sum())

11155

In [57]:
print((df["ikaryhma"]=="Tieto puuttuu").sum())

325239

In [58]:
print((df["sukupuoli"]=="Tuntematon").sum())

155072

In [59]:
print((df["korvausperuste"]=="Tieto puuttuu").sum())

26749

### Dataframe editing

In [60]:
df = df.drop(["kunta_nimi", "vuosi", "vuosikuukausi"], axis=1)
df.shape

(1408846, 10)

In [61]:
df = df[(df["saaja_lkm"]<4)|((df["ikaryhma"]!="Tieto puuttuu")&(df["sukupuoli"]!="Tuntematon"))]
df.shape

(1185751, 10)

In [62]:
print((df["ikaryhma"]=="Tuntematon").sum())
print((df["sukupuoli"]=="Tuntematon").sum())
df.head(15)

0
102144

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,7,669,29503.14
6,Kuukausi,2,405,17-19,Mies,Työmarkkinatukietuudet yhteensä,Yhteensä,22,458,13944.96
7,Vuosikertymä,4,593,40-44,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,10,535,22749.31
8,Vuosikertymä,5,700,35-39,Nainen,Työmarkkinatuki,Työllistymistä edistävien palvelujen ajalta,4,327,14132.81
9,Vuosikertymä,5,426,50-54,Nainen,Yhteensä,Työttömyysajalta,18,1689,62575.08
10,Kuukausi,9,684,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,1,25,930.25
11,Vuosikertymä,2,601,55-59,Nainen,Työmarkkinatuki,Yhteensä,4,142,5625.84
12,Vuosikertymä,9,140,45-49,Nainen,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,21,2505,90965.89
13,Kuukausi,10,740,20-24,Nainen,Työmarkkinatuki,-Kuntouttava työtoiminta,5,139,6467.70
15,Kuukausi,6,232,50-54,Nainen,Työmarkkinatukietuudet yhteensä,Yhteensä,16,315,10753.03
16,Kuukausi,6,936,25-29,Nainen,Yhteensä,Yhteensä,6,123,4101.87

In [63]:
df = df[df["maksettu_eur"]>0]
df = df[df["saaja_lkm"] > 0]
df = df[df["korvattu_paiva_lkm"] > 0]
df.shape

(1142994, 10)

In [64]:
print(df.dtypes)

aikatyyppi             object
kuukausi_nro            int64
kunta_nro               int64
ikaryhma               object
sukupuoli              object
etuus                  object
korvausperuste         object
saaja_lkm               int64
korvattu_paiva_lkm      int64
maksettu_eur          float64
dtype: object

In [65]:
df["ka_korvatut_paivat"] = df["korvattu_paiva_lkm"].div(df["saaja_lkm"])
df["ka_maksettu_eur"] = df["maksettu_eur"].div(df["korvattu_paiva_lkm"])

In [66]:
df = df.drop(["saaja_lkm", "korvattu_paiva_lkm", "maksettu_eur"], axis = 1)
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359

In [67]:
print("ka € min:", df["ka_maksettu_eur"].min())
print("ka € max:", df["ka_maksettu_eur"].max())
print("ka € median:", df["ka_maksettu_eur"].median())

print("ka pv min:", df["ka_korvatut_paivat"].min())
print("ka pv max", df["ka_korvatut_paivat"].max())
print("ka_pv_median", df["ka_korvatut_paivat"].median())

ka € min: 0.001388888888888889
ka € max: 715.99
ka € median: 39.14636038961039
ka pv min: 0.3333333333333333
ka pv max 390.0
ka_pv_median 38.0

In [68]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded.shape)
df_encoded.head()

(1142994, 332)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,ikaryhma_30-34,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
df_encoded = df_encoded.iloc[:300000]

### Train models

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor
gc.collect()
X = df_encoded.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
gc.collect()
y_days = df_encoded["ka_korvatut_paivat"]
gc.collect()
y_eur = df_encoded["ka_maksettu_eur"]
gc.collect()

training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_days = y_days.iloc[:training_indices]
y_test_days = y_days.iloc[training_indices:]

y_train_eur = y_eur.iloc[:training_indices]
y_test_eur = y_eur.iloc[training_indices:]

lr_days = LinearRegression().fit(X_train, y_train_days)
#hgb_days = HistGradientBoostingRegressor(max_bins=128, random_state=42).fit(X_train, y_train_days)
lr_eur = LinearRegression().fit(X_train, y_train_eur)
#hgb_eur = HistGradientBoostingRegressor(max_bins=128, random_state=42).fit(X_train, y_train_eur)

In [71]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def evaluate_model(y_true, y_pred, model_name="model"):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    #print(f"{model_name}")
    #print(f"R^2:\t{r2:.4f}")
    #print(f"MAE:\t{mae:.4f}")
    #print(f"MSE:\t{mse:.4f}")
    #print(f"RMSE:\t{rmse:.4f}\n")

    return {
        "R2": r2,
        "MAE": mae,
        "MSE": mse,
        "RMSE": rmse
    }

In [72]:
import pandas as pd

seeds = range(10)

results_days = []
results_eur = []

for seed in seeds:
    print(f"Training with Days on seed {seed}")
    hgb_days = HistGradientBoostingRegressor(
        max_bins=128,
        random_state=seed
    ).fit(X_train, y_train_days)
    
    print(f"Training with EUR on seed {seed}")
    hgb_eur = HistGradientBoostingRegressor(
        max_bins=128,
        random_state=seed
    ).fit(X_train, y_train_eur)
    
    pred_days = hgb_days.predict(X_test)
    pred_eur = hgb_eur.predict(X_test)
    
    metrics_days = evaluate_model(y_test_days, pred_days)
    metrics_days["seed"] = seed
    results_days.append(metrics_days)
    
    metrics_eur = evaluate_model(y_test_eur, pred_eur)
    metrics_eur["seed"] = seed
    results_eur.append(metrics_eur)

df_days_hgb = pd.DataFrame(results_days)
df_eur_hgb = pd.DataFrame(results_eur)

pred_days_lr = lr_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)

lr_days_metrics = evaluate_model(y_test_days, pred_days_lr)
lr_eur_metrics = evaluate_model(y_test_eur, pred_eur_lr)

Training with Days on seed 0
Training with EUR on seed 0
Training with Days on seed 1
Training with EUR on seed 1
Training with Days on seed 2
Training with EUR on seed 2
Training with Days on seed 3
Training with EUR on seed 3
Training with Days on seed 4
Training with EUR on seed 4
Training with Days on seed 5
Training with EUR on seed 5
Training with Days on seed 6
Training with EUR on seed 6
Training with Days on seed 7
Training with EUR on seed 7
Training with Days on seed 8
Training with EUR on seed 8
Training with Days on seed 9
Training with EUR on seed 9

In [73]:
def boxplot_stats(series):
    return {
        "min": series.min(),
        "q1": series.quantile(0.25),
        "median": series.median(),
        "mean": series.mean(),
        "q3": series.quantile(0.75),
        "max": series.max()
    }

In [74]:
stats_r2_days = boxplot_stats(df_days_hgb["R2"])
stats_mae_days = boxplot_stats(df_days_hgb["MAE"])
stats_mse_days = boxplot_stats(df_days_hgb["MSE"])
stats_rmse_days = boxplot_stats(df_days_hgb["RMSE"])

stats_r2_eur = boxplot_stats(df_eur_hgb["R2"])
stats_mae_eur = boxplot_stats(df_eur_hgb["MAE"])
stats_mse_eur = boxplot_stats(df_eur_hgb["MSE"])
stats_rmse_eur = boxplot_stats(df_eur_hgb["RMSE"])

stats_r2_lr_days = lr_days_metrics["R2"]
stats_mae_lr_days = lr_days_metrics["MAE"]
stats_mse_lr_days = lr_days_metrics["MSE"]
stats_rmse_lr_days = lr_days_metrics["RMSE"]

stats_r2_lr_eur = lr_eur_metrics["R2"]
stats_mae_lr_eur = lr_eur_metrics["MAE"]
stats_mse_lr_eur = lr_eur_metrics["MSE"]
stats_rmse_lr_eur = lr_eur_metrics["RMSE"]

print("---R^2 HGB Days---")
print(stats_r2_days)

print("---MAE HBG Days---")
print(stats_mae_days)

print("---MSE HGB Days---")
print(stats_mse_days)

print("---RMSE HGB Days---")
print(stats_rmse_days)

print("---R^2 HGB EUR---")
print(stats_r2_eur)

print("---MAE HBG EUR---")
print(stats_mae_eur)

print("---MSE HGB EUR---")
print(stats_mse_eur)

print("---RMSE HGB EUR---")
print(stats_rmse_eur)

# ----

print("---R^2 LR Days---")
print(stats_r2_lr_days)

print("---MAE LR Days---")
print(stats_mae_lr_days)

print("---MSE LR Days---")
print(stats_mse_lr_days)

print("---RMSE LR Days---")
print(stats_rmse_lr_days)

print("---R^2 LR EUR---")
print(stats_r2_lr_eur)

print("---MAE LR EUR---")
print(stats_mae_lr_eur)

print("---MSE LR EUR---")
print(stats_mse_lr_eur)

print("---RMSE LR EUR---")
print(stats_rmse_lr_eur)

---R^2 HGB Days---
{'min': 0.8947044737066207, 'q1': np.float64(0.894899227762193), 'median': 0.8950117878388001, 'mean': np.float64(0.8949916947606921), 'q3': np.float64(0.8950757177148633), 'max': 0.895241780662231}
---MAE HBG Days---
{'min': 9.387902056407318, 'q1': np.float64(9.403492581590715), 'median': 9.404833672128532, 'mean': np.float64(9.40462245419486), 'q3': np.float64(9.408422724403747), 'max': 9.418906962109027}
---MSE HGB Days---
{'min': 257.94590805042105, 'q1': np.float64(258.35480444082464), 'median': 258.512218818779, 'mean': np.float64(258.56169395601256), 'q3': np.float64(258.78937522096084), 'max': 259.26891765714095}
---RMSE HGB Days---
{'min': 16.0606945071009, 'q1': np.float64(16.07341918496764), 'median': 16.078314867706936, 'mean': np.float64(16.079849865057437), 'q3': np.float64(16.086931808720326), 'max': 16.101829636943155}
---R^2 HGB EUR---
{'min': 0.7416012070376876, 'q1': np.float64(0.7420821429517641), 'median': 0.7421368790089262, 'mean': np.float64(0.7421974899076309), 'q3': np.float64(0.7422993022883759), 'max': 0.7428615152991322}
---MAE HBG EUR---
{'min': 2.2970257398616707, 'q1': np.float64(2.298858385188491), 'median': 2.300951808924705, 'mean': np.float64(2.3007004123000483), 'q3': np.float64(2.302329202815827), 'max': 2.3039454493175877}
---MSE HGB EUR---
{'min': 13.282145618676497, 'q1': np.float64(13.31118598222327), 'median': 13.319575740185885, 'mean': np.float64(13.316444965017748), 'q3': np.float64(13.322403058246293), 'max': 13.347245161720016}
---RMSE HGB EUR---
{'min': 3.644467810075498, 'q1': np.float64(3.648449788785468), 'median': 3.6495993838342873, 'mean': np.float64(3.649169689444443), 'q3': np.float64(3.649986719861505), 'max': 3.6533881756145234}
---R^2 LR Days---
0.6925919133038387
---MAE LR Days---
21.57713136712916
---MSE LR Days---
756.9301823393579
---RMSE LR Days---
27.512364172120105
---R^2 LR EUR---
0.6668496011606623
---MAE LR EUR---
2.827556188240919
---MSE LR EUR---
17.208439706922267
---RMSE LR EUR---
4.148305642900757

In [75]:
pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

### Testing fairness

In [76]:
def fairness_by_group(y_true, y_pred, X_test, sensitive_prefix):
    sens_cols = [col for col in X_test.columns if col.startswith(sensitive_prefix)]

    results = {}

    for col in sens_cols:
        mask = X_test[col] == 1

        group_name = col.replace(sensitive_prefix, "").replace("_", "")

        group_y_true = y_true[mask]
        group_y_pred = y_pred[mask]

        results[group_name] = {
            "count": mask.sum(),
            "mean_pred": group_y_pred.mean(),
            "mean_true": group_y_true.mean(),
            "mean_error": (group_y_pred - group_y_true).mean(),
            "MAE": mean_absolute_error(group_y_true, group_y_pred),
            "RMSE": mean_squared_error(group_y_true, group_y_pred) ** 0.5
        }

    return pd.DataFrame(results).T

In [77]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (LR):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

Fairness assessment for Days by sex (LR):
              count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        29868.0  62.338678  62.376134   -0.037455  21.663549  27.558203
Nainen      26746.0  61.974063  62.098946   -0.124883  20.594864  26.090221
Tuntematon   3386.0  33.519942  33.665485   -0.145543  28.573760  36.562378

Fairness assessment for Days by age group (LR):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.140642  43.903121    0.237521  21.602677  26.924097
20-24          5966.0  53.914739  53.696333    0.218406  18.359072  23.367972
25-29          6078.0  58.407077  57.803555    0.603522  18.803896  23.464148
30-34          6590.0  61.110952  61.278029   -0.167077  19.627310  24.517917
35-39          6333.0  62.557685  62.254472    0.303213  20.368761  25.637236
40-44          6338.0  62.328692  62.944962   -0.616270  20.794897  26.243936
45-49          5799.0  64.513128  64.601132   -0.088004  21.887820  27.934196
50-54          5678.0  66.544834  67.066671   -0.521837  22.773950  28.869317
55-59          6217.0  66.478672  67.483582   -1.004910  23.159575  29.506374
60-64          5155.0  71.616759  71.170080    0.446679  25.349571  32.160852
65-67           201.0  73.377763  70.699601    2.678162  20.999561  27.908954
Tieto puuttuu  3386.0  33.519942  33.665485   -0.145543  28.573760  36.562378

In [78]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (HGB):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

Fairness assessment for Days by sex (HGB):
              count  mean_pred  mean_true  mean_error        MAE       RMSE
Mies        29868.0  62.255721  62.376134   -0.120412   9.169075  15.644888
Nainen      26746.0  62.232007  62.098946    0.133061   9.096357  15.393015
Tuntematon   3386.0  34.580458  33.665485    0.914973  14.076544  23.563068

Fairness assessment for Days by age group (HGB):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.685390  43.903121    0.782269   9.315814  14.567656
20-24          5966.0  54.150936  53.696333    0.454603   8.921841  14.862449
25-29          6078.0  58.467749  57.803555    0.664193   8.759732  14.856754
30-34          6590.0  61.522504  61.278029    0.244475   8.673226  14.749998
35-39          6333.0  62.555786  62.254472    0.301314   9.259323  15.509922
40-44          6338.0  62.480782  62.944962   -0.464180   8.820565  15.077124
45-49          5799.0  64.422572  64.601132   -0.178560   8.995412  15.645482
50-54          5678.0  66.409763  67.066671   -0.656908   9.566602  16.309988
55-59          6217.0  66.700328  67.483582   -0.783254   9.333983  16.122631
60-64          5155.0  71.063198  71.170080   -0.106882   9.675647  16.754121
65-67           201.0  75.946500  70.699601    5.246899  17.650844  24.248085
Tieto puuttuu  3386.0  34.580458  33.665485    0.914973  14.076544  23.563068

In [79]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (LR):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

Fairness assessment for EUR by sex (LR):
              count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        29868.0  39.526656  39.522133    0.004524  2.559063  3.540687
Nainen      26746.0  39.212942  39.175351    0.037591  2.856027  4.031769
Tuntematon   3386.0  45.372874  45.381701   -0.008827  4.971049  8.120964

Fairness assessment for EUR by age group (LR):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.807196  33.372060    0.435136  5.868267  6.850073
20-24          5966.0  38.834318  38.868095   -0.033777  3.216479  4.247962
25-29          6078.0  39.986279  39.955372    0.030907  2.376379  3.521814
30-34          6590.0  40.501701  40.452825    0.048876  2.534448  3.575689
35-39          6333.0  41.272240  41.338840   -0.066600  2.649477  3.696981
40-44          6338.0  41.018539  40.995772    0.022767  2.648596  3.620828
45-49          5799.0  40.355064  40.297938    0.057126  2.469342  3.479347
50-54          5678.0  39.056532  39.103329   -0.046797  2.327101  3.239936
55-59          6217.0  37.942187  37.904199    0.037988  2.356024  3.327711
60-64          5155.0  37.126077  37.136210   -0.010133  2.497572  3.533337
65-67           201.0  34.659702  35.271169   -0.611467  3.027384  4.015029
Tieto puuttuu  3386.0  45.372874  45.381701   -0.008827  4.971049  8.120964

In [80]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (HGB):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

Fairness assessment for EUR by sex (HGB):
              count  mean_pred  mean_true  mean_error       MAE      RMSE
Mies        29868.0  39.513874  39.522133   -0.008259  1.991682  2.945336
Nainen      26746.0  39.199996  39.175351    0.024645  2.351965  3.449431
Tuntematon   3386.0  45.246006  45.381701   -0.135695  4.643553  8.089696

Fairness assessment for EUR by age group (HGB):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.543080  33.372060    0.171020  3.332964  4.520528
20-24          5966.0  38.829157  38.868095   -0.038939  2.389924  3.405253
25-29          6078.0  40.037454  39.955372    0.082082  2.114026  3.245855
30-34          6590.0  40.463133  40.452825    0.010308  2.142208  3.195706
35-39          6333.0  41.171073  41.338840   -0.167767  2.140121  3.143420
40-44          6338.0  40.987318  40.995772   -0.008454  2.134259  3.032373
45-49          5799.0  40.275362  40.297938   -0.022575  2.077749  3.071435
50-54          5678.0  39.063513  39.103329   -0.039817  2.037713  2.933324
55-59          6217.0  38.009471  37.904199    0.105272  1.970625  2.960231
60-64          5155.0  37.235224  37.136210    0.099014  1.975994  3.097824
65-67           201.0  35.270077  35.271169   -0.001093  2.500592  3.380684
Tieto puuttuu  3386.0  45.246006  45.381701   -0.135695  4.643553  8.089696

## Fairness-aware predictive model

### Inverse probability weighting for age-group

In [81]:
import gc
gc.collect()
age_groups = df["ikaryhma"].value_counts(normalize=True)
df["weights"] = df["ikaryhma"].map(lambda x: 1/ age_groups[x])
df["weights"] = ((df["weights"])/df["weights"].mean())
# Percentile clip
upper = df["weights"].quantile(0.99)
lower = df["weights"].quantile(0.01)
df["weights"] = df["weights"].clip(lower=lower, upper=upper)
# Renormalize
df["weights"] /= df["weights"].mean()
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur,weights
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891,0.856514
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000,0.933153
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256,1.052032
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200,1.610848
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359,0.914664

In [82]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded2 = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded2.shape)
df_encoded2.head()

(1142994, 333)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,weights,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,0.856514,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,0.933153,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,1.052032,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,1.610848,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,0.914664,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
df_encoded2 = df_encoded2.iloc[:300000]

### Train models

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor

In [85]:
gc.collect()
X = df_encoded2.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
gc.collect()
y_days = df_encoded2["ka_korvatut_paivat"]
gc.collect()
y_eur = df_encoded2["ka_maksettu_eur"]

In [86]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_days = y_days.iloc[:training_indices]
y_test_days = y_days.iloc[training_indices:]

In [87]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_eur = y_eur.iloc[:training_indices]
y_test_eur = y_eur.iloc[training_indices:]

In [88]:
lr_days = LinearRegression().fit(X_train, y_train_days, sample_weight=X_train["weights"])

In [ ]:
#hgb_days = HistGradientBoostingRegressor(max_bins=128, random_state=42).fit(X_train, y_train_days, sample_weight=X_train["weights"])

In [89]:
lr_eur = LinearRegression().fit(X_train, y_train_eur, sample_weight=X_train["weights"])

In [ ]:
#hgb_eur = HistGradientBoostingRegressor(max_bins=128, random_state=42).fit(X_train, y_train_eur, sample_weight=X_train["weights"])

In [90]:
import pandas as pd

seeds = range(10)

results_days = []
results_eur = []

for seed in seeds:
    print(f"Training with Days on seed {seed}")
    hgb_days = HistGradientBoostingRegressor(
        max_bins=128,
        random_state=seed
    ).fit(X_train, y_train_days)
    
    print(f"Training with EUR on seed {seed}")
    hgb_eur = HistGradientBoostingRegressor(
        max_bins=128,
        random_state=seed
    ).fit(X_train, y_train_eur)
    
    pred_days = hgb_days.predict(X_test)
    pred_eur = hgb_eur.predict(X_test)
    
    metrics_days = evaluate_model(y_test_days, pred_days)
    metrics_days["seed"] = seed
    results_days.append(metrics_days)
    
    metrics_eur = evaluate_model(y_test_eur, pred_eur)
    metrics_eur["seed"] = seed
    results_eur.append(metrics_eur)

df_days_hgb = pd.DataFrame(results_days)
df_eur_hgb = pd.DataFrame(results_eur)

pred_days_lr = lr_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)

lr_days_metrics = evaluate_model(y_test_days, pred_days_lr)
lr_eur_metrics = evaluate_model(y_test_eur, pred_eur_lr)

Training with Days on seed 0
Training with EUR on seed 0
Training with Days on seed 1
Training with EUR on seed 1
Training with Days on seed 2
Training with EUR on seed 2
Training with Days on seed 3
Training with EUR on seed 3
Training with Days on seed 4
Training with EUR on seed 4
Training with Days on seed 5
Training with EUR on seed 5
Training with Days on seed 6
Training with EUR on seed 6
Training with Days on seed 7
Training with EUR on seed 7
Training with Days on seed 8
Training with EUR on seed 8
Training with Days on seed 9
Training with EUR on seed 9

In [91]:
stats_r2_days = boxplot_stats(df_days_hgb["R2"])
stats_mae_days = boxplot_stats(df_days_hgb["MAE"])
stats_mse_days = boxplot_stats(df_days_hgb["MSE"])
stats_rmse_days = boxplot_stats(df_days_hgb["RMSE"])

stats_r2_eur = boxplot_stats(df_eur_hgb["R2"])
stats_mae_eur = boxplot_stats(df_eur_hgb["MAE"])
stats_mse_eur = boxplot_stats(df_eur_hgb["MSE"])
stats_rmse_eur = boxplot_stats(df_eur_hgb["RMSE"])

stats_r2_lr_days = lr_days_metrics["R2"]
stats_mae_lr_days = lr_days_metrics["MAE"]
stats_mse_lr_days = lr_days_metrics["MSE"]
stats_rmse_lr_days = lr_days_metrics["RMSE"]

stats_r2_lr_eur = lr_eur_metrics["R2"]
stats_mae_lr_eur = lr_eur_metrics["MAE"]
stats_mse_lr_eur = lr_eur_metrics["MSE"]
stats_rmse_lr_eur = lr_eur_metrics["RMSE"]

print("---R^2 HGB Days---")
print(stats_r2_days)

print("---MAE HBG Days---")
print(stats_mae_days)

print("---MSE HGB Days---")
print(stats_mse_days)

print("---RMSE HGB Days---")
print(stats_rmse_days)

print("---R^2 HGB EUR---")
print(stats_r2_eur)

print("---MAE HBG EUR---")
print(stats_mae_eur)

print("---MSE HGB EUR---")
print(stats_mse_eur)

print("---RMSE HGB EUR---")
print(stats_rmse_eur)

# ----

print("---R^2 LR Days---")
print(stats_r2_lr_days)

print("---MAE LR Days---")
print(stats_mae_lr_days)

print("---MSE LR Days---")
print(stats_mse_lr_days)

print("---RMSE LR Days---")
print(stats_rmse_lr_days)

print("---R^2 LR EUR---")
print(stats_r2_lr_eur)

print("---MAE LR EUR---")
print(stats_mae_lr_eur)

print("---MSE LR EUR---")
print(stats_mse_lr_eur)

print("---RMSE LR EUR---")
print(stats_rmse_lr_eur)

---R^2 HGB Days---
{'min': 0.8956764652647655, 'q1': np.float64(0.8960069644893959), 'median': 0.8960890155495107, 'mean': np.float64(0.8960860477180589), 'q3': np.float64(0.8961690093542982), 'max': 0.8963730667592412}
---MAE HBG Days---
{'min': 9.344952651339087, 'q1': np.float64(9.351417338220086), 'median': 9.35620595471022, 'mean': np.float64(9.357049147153553), 'q3': np.float64(9.359640350671969), 'max': 9.377765117722067}
---MSE HGB Days---
{'min': 255.16034505209223, 'q1': np.float64(255.66279510274404), 'median': 255.85976365322875, 'mean': np.float64(255.8670713373762), 'q3': np.float64(256.0617977784897), 'max': 256.8755852134629}
---RMSE HGB Days---
{'min': 15.973739232004892, 'q1': np.float64(15.989458837866525), 'median': 15.995616761421893, 'mean': np.float64(15.995838975248981), 'q3': np.float64(16.00193105250143), 'max': 16.027338681561044}
---R^2 HGB EUR---
{'min': 0.7418375202913305, 'q1': np.float64(0.7422759921166922), 'median': 0.74250075094679, 'mean': np.float64(0.7424869369838497), 'q3': np.float64(0.7425974942592326), 'max': 0.7431493982197668}
---MAE HBG EUR---
{'min': 2.2966483671040945, 'q1': np.float64(2.2980298899865246), 'median': 2.299212554010894, 'mean': np.float64(2.2990515759332864), 'q3': np.float64(2.2999253933172303), 'max': 2.3011999975483146}
---MSE HGB EUR---
{'min': 13.267275410207136, 'q1': np.float64(13.295783273508368), 'median': 13.300780420337603, 'mean': np.float64(13.30149396217696), 'q3': np.float64(13.312390038065246), 'max': 13.335038715648126}
---RMSE HGB EUR---
{'min': 3.6424271317635353, 'q1': np.float64(3.646338335596187), 'median': 3.6470234936390407, 'mean': np.float64(3.647120470966301), 'q3': np.float64(3.6486147642469637), 'max': 3.651717228325343}
---R^2 LR Days---
0.691092498129391
---MAE LR Days---
21.50572744163553
---MSE LR Days---
760.6221886674766
---RMSE LR Days---
27.579379773074603
---R^2 LR EUR---
0.6647844410776942
---MAE LR EUR---
2.8915640825795195
---MSE LR EUR---
17.315112797804673
---RMSE LR EUR---
4.161143208038468

### Fairness testing

In [97]:
pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

LinearRegression (Days)
R^2:	0.6911
MAE:	21.5057
MSE:	760.6222
RMSE:	27.5794

HistGradientBoosting (Days)
R^2:	0.8951
MAE:	9.4043
MSE:	258.2515
RMSE:	16.0702

LinearRegression (EUR)
R^2:	0.6648
MAE:	2.8916
MSE:	17.3151
RMSE:	4.1611

HistGradientBoosting (EUR)
R^2:	0.7420
MAE:	2.3124
MSE:	13.3272
RMSE:	3.6506

In [98]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

Fairness assessment for Days by age group (LR):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.109168  43.903121    0.206046  20.341910  25.427531
20-24          5966.0  53.907837  53.696333    0.211504  17.861132  22.749842
25-29          6078.0  58.366763  57.803555    0.563208  18.591937  23.298769
30-34          6590.0  61.086030  61.278029   -0.191999  19.640694  24.690208
35-39          6333.0  62.544719  62.254472    0.290247  20.424240  25.874167
40-44          6338.0  62.351802  62.944962   -0.593160  20.886409  26.594067
45-49          5799.0  64.558509  64.601132   -0.042623  22.058411  28.397838
50-54          5678.0  66.544367  67.066671   -0.522304  23.041853  29.440994
55-59          6217.0  66.495641  67.483582   -0.987941  23.436119  30.107568
60-64          5155.0  71.643874  71.170080    0.473794  25.799310  32.866290
65-67           201.0  73.181928  70.699601    2.482327  20.296805  26.900705
Tieto puuttuu  3386.0  33.575256  33.665485   -0.090229  27.214174  34.808926

In [99]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

Fairness assessment for Days by age group (HGB):
                count  mean_pred  mean_true  mean_error        MAE       RMSE
17-19          2259.0  44.481593  43.903121    0.578472   9.062783  14.136914
20-24          5966.0  54.028746  53.696333    0.332413   8.890054  14.867592
25-29          6078.0  58.559550  57.803555    0.755994   8.750601  14.837824
30-34          6590.0  61.672568  61.278029    0.394539   8.707569  14.761473
35-39          6333.0  62.590033  62.254472    0.335561   9.228223  15.488300
40-44          6338.0  62.399340  62.944962   -0.545622   8.860513  15.149079
45-49          5799.0  64.464885  64.601132   -0.136247   8.997820  15.736183
50-54          5678.0  66.373447  67.066671   -0.693224   9.662003  16.469943
55-59          6217.0  66.760471  67.483582   -0.723111   9.378735  16.218996
60-64          5155.0  71.109162  71.170080   -0.060918   9.730460  16.854960
65-67           201.0  73.395587  70.699601    2.695987  15.856701  21.759376
Tieto puuttuu  3386.0  34.417482  33.665485    0.751996  13.845605  23.093261

In [100]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

Fairness assessment for EUR by age group (LR):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.780139  33.372060    0.408079  5.570367  6.527895
20-24          5966.0  38.830707  38.868095   -0.037388  3.058923  4.090431
25-29          6078.0  39.988647  39.955372    0.033275  2.447221  3.563278
30-34          6590.0  40.499393  40.452825    0.046568  2.657962  3.670723
35-39          6333.0  41.274998  41.338840   -0.063843  2.762189  3.792171
40-44          6338.0  41.009747  40.995772    0.013974  2.777131  3.731433
45-49          5799.0  40.353213  40.297938    0.055275  2.591438  3.572094
50-54          5678.0  39.052896  39.103329   -0.050433  2.460237  3.353059
55-59          6217.0  37.953483  37.904199    0.049285  2.491958  3.434037
60-64          5155.0  37.131318  37.136210   -0.004892  2.619567  3.626731
65-67           201.0  34.616875  35.271169   -0.654294  3.075297  4.059245
Tieto puuttuu  3386.0  45.394801  45.381701    0.013100  4.892143  7.973521

In [101]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

Fairness assessment for EUR by age group (HGB):
                count  mean_pred  mean_true  mean_error       MAE      RMSE
17-19          2259.0  33.500505  33.372060    0.128445  3.146522  4.270907
20-24          5966.0  38.829166  38.868095   -0.038929  2.407571  3.422256
25-29          6078.0  40.005499  39.955372    0.050127  2.149271  3.300106
30-34          6590.0  40.607177  40.452825    0.154352  2.123883  3.194835
35-39          6333.0  41.180128  41.338840   -0.158712  2.164525  3.171093
40-44          6338.0  40.986195  40.995772   -0.009578  2.158761  3.066521
45-49          5799.0  40.277695  40.297938   -0.020243  2.090419  3.085231
50-54          5678.0  39.039631  39.103329   -0.063698  2.048508  2.934979
55-59          6217.0  38.016408  37.904199    0.112209  1.995255  2.986631
60-64          5155.0  37.224523  37.136210    0.088312  2.027097  3.145147
65-67           201.0  34.703540  35.271169   -0.567630  2.771500  3.476881
Tieto puuttuu  3386.0  45.284418  45.381701   -0.097283  4.623480  8.039073