# Kela Unemployment benefits dataset - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import gc

df = pd.read_csv("data_2024.csv")
df.shape

(1408846, 13)

In [2]:
df.describe()

,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
count,1.408846e+06,1.408846e+06,1408846.0,1.408846e+06,1.408846e+06,1.408846e+06,1.408846e+06
mean,6.948563e+00,2.024069e+05,2024.0,4.576087e+02,2.825526e+01,1.991881e+03,7.664374e+04
std,3.551973e+00,3.551973e+00,0.0,2.808418e+02,1.014163e+02,1.069365e+04,4.067881e+05
min,1.000000e+00,2.024010e+05,2024.0,5.000000e+00,0.000000e+00,-4.350000e+02,-7.766999e+05
25%,4.000000e+00,2.024040e+05,2024.0,2.050000e+02,5.000000e+00,1.430000e+02,5.655650e+03
50%,7.000000e+00,2.024070e+05,2024.0,4.330000e+02,8.000000e+00,3.760000e+02,1.489411e+04
75%,1.000000e+01,2.024100e+05,2024.0,6.980000e+02,1.700000e+01,1.034000e+03,4.066459e+04
max,1.200000e+01,2.024120e+05,2024.0,9.920000e+02,3.636000e+03,5.798260e+05,2.207279e+07

In [3]:
df.isna().sum()

aikatyyppi            0
kuukausi_nro          0
vuosikuukausi         0
vuosi                 0
kunta_nro             0
kunta_nimi            0
ikaryhma              0
sukupuoli             0
etuus                 0
korvausperuste        0
saaja_lkm             0
korvattu_paiva_lkm    0
maksettu_eur          0
dtype: int64

In [4]:
df.head()

,aikatyyppi,kuukausi_nro,vuosikuukausi,vuosi,kunta_nro,kunta_nimi,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,202412,2024,272,Kokkola,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,202407,2024,92,Vantaa,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,202412,2024,109,Hämeenlinna,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,202401,2024,178,Juva,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
4,Kuukausi,3,202403,2024,233,Kauhava,Tieto puuttuu,Tuntematon,Yhteensä,-Omaehtoinen opiskelu,8,161,8311.91

### Unique values listed

In [5]:
print(df["kunta_nro"].unique())

[272  92 109 178 233 434 405 593 700 426 684 601 140 740 922 232 936 186
  91 491 743 638 285 927 422 707 249 108  19 529 398 560 683 758 857  49
 858 895  51 595 146  98 631 245 179 286 561  79 142 176  97 694 317 710
 853 211 739 167 689 781 205 484 578 543 263 837 747 886 111   5 239 240
 241 790 276 494 564 625 507 257 420  69 441  77 609 312 399 935 250 410
 408 599 734 508 480 678 729 481 169 444 202  86 698 616 172 403 430 626
 588 977  18 305 182 598 921  61 751  71 214 850 287 309  78 686 531 851
  90 475 503 611 102 213 505 749 499 171 545  20 980 624 576 500 199  75
 992 139 765 753 416 844 106 149 265  16 316 244 541 423 145 636 762 445
 746 165 320 905 981 915 271 208 153 535 604 846 143 946 261 536 148   9
 181 301 580 562 440 889 297 230 859 854 925 918 581 892 288 614 322 833
 785  10 224 691 777 418 280 893 290 635 704 489 615 177 680 607 400 433
  50 887 989 924 260 681 845 755 256 783  47 608 563 687 791 273 402  82
 495 831 584 304 832 498 931 976 300 103 697 152 619 577 702  81 425 761
 538 620 623 849 759 407 748 235 908  46 778 275 848 834 217 742 504 204
 890  52 218 421 236 151 483 738  72 436 105 934 226 732 583 592 284 291
 435 231 216 630 768  74 170 478]

In [6]:
print(df["kunta_nimi"].unique())

['Kokkola' 'Vantaa' 'Hämeenlinna' 'Juva' 'Kauhava' 'Loviisa'
 'Lappeenranta' 'Pieksämäki' 'Ruokolahti' 'Liperi' 'Rauma' 'Pihtipudas'
 'Iisalmi' 'Savonlinna' 'Vesilahti' 'Kauhajoki' 'Virrat' 'Järvenpää'
 'Helsinki' 'Mikkeli' 'Seinäjoki' 'Porvoo' 'Kotka' 'Vihti' 'Lieksa'
 'Rääkkylä' 'Keuruu' 'Hämeenkyrö' 'Aura' 'Naantali' 'Lahti' 'Orimattila'
 'Ranua' 'Sodankylä' 'Tuusniemi' 'Espoo' 'Tuusula' 'Uusikaupunki'
 'Eurajoki' 'Pielavesi' 'Ilomantsi' 'Hollola' 'Pyhäranta' 'Kerava'
 'Jyväskylä' 'Kouvola' 'Oripää' 'Harjavalta' 'Iitti' 'Juuka' 'Hirvensalmi'
 'Riihimäki' 'Kärsämäki' 'Raasepori' 'Turku' 'Kangasala' 'Savitaipale'
 'Joensuu' 'Rautjärvi' 'Sysmä' 'Kajaani' 'Merikarvia' 'Paltamo'
 'Nurmijärvi' 'Kiuruvesi' 'Tampere' 'Siikainen' 'Ulvila' 'Heinola'
 'Alajärvi' 'Keitele' 'Kemi' 'Keminmaa' 'Sastamala' 'Kontiolahti' 'Muhos'
 'Oulu' 'Pyhäjoki' 'Mäntyharju' 'Kirkkonummi' 'Leppävirta' 'Haapajärvi'
 'Luumäki' 'Hankasalmi' 'Pori' 'Kyyjärvi' 'Laihia' 'Virolahti' 'Kihniö'
 'Laukaa' 'Lapua' 'Pedersören kunta' 'Salo' 'Mänttä-Vilppula' 'Marttila'
 'Raahe' 'Saarijärvi' 'Masku' 'Jokioinen' 'Lohja' 'Kaarina' 'Hausjärvi'
 'Rovaniemi' 'Pukkila' 'Joutsa' 'Lappajärvi' 'Loimaa' 'Pyhäjärvi'
 'Pertunmaa' 'Ylivieska' 'Askola' 'Kuusamo' 'Jämsä' 'Pietarsaari'
 'Vesanto' 'Forssa' 'Simo' 'Haapavesi' 'Kankaanpää' 'Toivakka'
 'Kristiinankaupunki' 'Outokumpu' 'Hanko' 'Rautalampi' 'Nakkila' 'Tornio'
 'Heinävesi' 'Maalahti' 'Mynämäki' 'Pornainen' 'Huittinen' 'Kangasniemi'
 'Mäntsälä' 'Siilinjärvi' 'Mustasaari' 'Joroinen' 'Närpiö' 'Akaa'
 'Ylöjärvi' 'Pyhtää' 'Padasjoki' 'Muurame' 'Tuntematon' 'Hamina'
 'Äänekoski' 'Ii' 'Sotkamo' 'Sipoo' 'Lemi' 'Tervo' 'Hyvinkää' 'Inkoo'
 'Kivijärvi' 'Asikkala' 'Kärkölä' 'Kempele' 'Nurmes' 'Lieto' 'Ilmajoki'
 'Pöytyä' 'Sonkajärvi' 'Parainen' 'Sievi' 'Janakkala' 'Kemijärvi' 'Vaasa'
 'Ypäjä' 'Varkaus' 'Kokemäki' 'Kalajoki' 'Imatra' 'Nivala' 'Pirkkala'
 'Teuva' 'Ikaalinen' 'Vöyri' 'Kittilä' 'Nokia' 'Inari' 'Alavieska'
 'Jämijärvi' 'Kurikka' 'Parikkala' 'Orivesi' 'Luoto' 'Utajärvi' 'Kuopio'
 'Karvia' 'Tyrnävä' 'Pello' 'Vieremä' 'Vehmaa' 'Parkano' 'Uurainen'
 'Kruunupyy' 'Posio' 'Kemiönsaari' 'Taivassalo' 'Vaala' 'Alavus'
 'Karkkila' 'Reisjärvi' 'Suomussalmi' 'Lempäälä' 'Korsnäs' 'Uusikaarlepyy'
 'Kuhmo' 'Pälkäne' 'Rusko' 'Miehikkälä' 'Pudasjärvi' 'Juupajoki' 'Raisio'
 'Polvijärvi' 'Laitila' 'Loppi' 'Eura' 'Urjala' 'Ähtäri' 'Veteli' 'Kitee'
 'Rantasalmi' 'Tervola' 'Siuntio' 'Kinnula' 'Säkylä' 'Enontekiö'
 'Pomarkku' 'Oulainen' 'Rautavaara' 'Siikalatva' 'Kolari' 'Lapinlahti'
 'Hattula' 'Multia' 'Taipalsaari' 'Perho' 'Kustavi' 'Taivalkoski' 'Muonio'
 'Viitasaari' 'Ylitornio' 'Kuortane' 'Humppila' 'Ristijärvi' 'Isokyrö'
 'Punkalaidun' 'Paimio' 'Ruovesi' 'Hartola' 'Liminka' 'Somero'
 'Nousiainen' 'Puolanka' 'Puumala' 'Toholampi' 'Soini' 'Lapinjärvi'
 'Siikajoki' 'Kauniainen' 'Valkeakoski' 'Enonkoski' 'Suonenjoki'
 'Konnevesi' 'Tohmajärvi' 'Tammela' 'Kannus' 'Savukoski' 'Myrskylä'
 'Kaavi' 'Utsjoki' 'Evijärvi' 'Karijoki' 'Lestijärvi' 'Kaustinen'
 'Isojoki' 'Merijärvi' 'Sauvo' 'Hailuoto' 'Lumijoki' 'Hyrynsalmi'
 'Vimpeli' 'Karstula' 'Salla' 'Pelkosenniemi' 'Petäjävesi' 'Koski Tl'
 'Kuhmoinen' 'Luhanka' 'Kaskinen' 'Kannonkoski' 'Pyhäntä' 'Sulkava'
 'Halsua' 'Jomala' 'Maarianhamina']

In [7]:
print(df["ikaryhma"].unique())

['35-39' '50-54' '60-64' 'Tieto puuttuu' '45-49' '17-19' '40-44' '55-59'
 '20-24' '25-29' '30-34' '65-67']

In [8]:
print(df["sukupuoli"].unique())

['Mies' 'Tuntematon' 'Nainen']

In [9]:
print(df["etuus"].unique())

['Yhteensä' 'Työmarkkinatukietuudet yhteensä' 'Työmarkkinatuki'
 'Peruspäiväraha' 'Kotoutumistuki']

In [10]:
print(df["korvausperuste"].unique())

['-Uravalmennus' '-Kuntouttava työtoiminta'
 'Työllistymistä edistävien palvelujen ajalta' '-Omaehtoinen opiskelu'
 'Yhteensä' 'Työttömyysajalta' '-Työvoimakoulutus' '-Työkokeilu'
 '-Tuntematon palvelu' '-Työnhakuvalmennus' 'Tieto puuttuu'
 '-Koulutuskokeilu' '-Matka-avustus']

### Sums of unknown values

In [11]:
print((df["kunta_nimi"]=="Tuntematon").sum())

11155

In [12]:
print((df["ikaryhma"]=="Tieto puuttuu").sum())

325239

In [13]:
print((df["sukupuoli"]=="Tuntematon").sum())

155072

In [14]:
print((df["korvausperuste"]=="Tieto puuttuu").sum())

26749

### Dataframe editing

In [15]:
df = df.drop(["kunta_nimi", "vuosi", "vuosikuukausi"], axis=1)
df.shape

(1408846, 10)

In [16]:
df = df[(df["saaja_lkm"]<4)|((df["ikaryhma"]!="Tieto puuttuu")&(df["sukupuoli"]!="Tuntematon"))]
df.shape

(1185751, 10)

In [17]:
print((df["ikaryhma"]=="Tuntematon").sum())
print((df["sukupuoli"]=="Tuntematon").sum())
df.head(15)

0
102144

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,saaja_lkm,korvattu_paiva_lkm,maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,5,92,4687.85
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,37,875,36100.75
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,33,5174,221831.40
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,2,50,2358.31
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,7,669,29503.14
6,Kuukausi,2,405,17-19,Mies,Työmarkkinatukietuudet yhteensä,Yhteensä,22,458,13944.96
7,Vuosikertymä,4,593,40-44,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,10,535,22749.31
8,Vuosikertymä,5,700,35-39,Nainen,Työmarkkinatuki,Työllistymistä edistävien palvelujen ajalta,4,327,14132.81
9,Vuosikertymä,5,426,50-54,Nainen,Yhteensä,Työttömyysajalta,18,1689,62575.08
10,Kuukausi,9,684,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,1,25,930.25
11,Vuosikertymä,2,601,55-59,Nainen,Työmarkkinatuki,Yhteensä,4,142,5625.84
12,Vuosikertymä,9,140,45-49,Nainen,Työmarkkinatukietuudet yhteensä,Työttömyysajalta,21,2505,90965.89
13,Kuukausi,10,740,20-24,Nainen,Työmarkkinatuki,-Kuntouttava työtoiminta,5,139,6467.70
15,Kuukausi,6,232,50-54,Nainen,Työmarkkinatukietuudet yhteensä,Yhteensä,16,315,10753.03
16,Kuukausi,6,936,25-29,Nainen,Yhteensä,Yhteensä,6,123,4101.87

In [18]:
df = df[df["maksettu_eur"]>0]
df = df[df["saaja_lkm"] > 0]
df = df[df["korvattu_paiva_lkm"] > 0]
df.shape

(1142994, 10)

In [19]:
print(df.dtypes)

aikatyyppi             object
kuukausi_nro            int64
kunta_nro               int64
ikaryhma               object
sukupuoli              object
etuus                  object
korvausperuste         object
saaja_lkm               int64
korvattu_paiva_lkm      int64
maksettu_eur          float64
dtype: object

In [20]:
df["ka_korvatut_paivat"] = df["korvattu_paiva_lkm"].div(df["saaja_lkm"])
df["ka_maksettu_eur"] = df["maksettu_eur"].div(df["korvattu_paiva_lkm"])

In [21]:
df = df.drop(["saaja_lkm", "korvattu_paiva_lkm", "maksettu_eur"], axis = 1)
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359

In [22]:
print("ka € min:", df["ka_maksettu_eur"].min())
print("ka € max:", df["ka_maksettu_eur"].max())
print("ka € median:", df["ka_maksettu_eur"].median())

print("ka pv min:", df["ka_korvatut_paivat"].min())
print("ka pv max", df["ka_korvatut_paivat"].max())
print("ka_pv_median", df["ka_korvatut_paivat"].median())

ka € min: 0.001388888888888889
ka € max: 715.99
ka € median: 39.14636038961039
ka pv min: 0.3333333333333333
ka pv max 390.0
ka_pv_median 38.0

In [23]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded.shape)
df_encoded.head()

(1142994, 332)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,ikaryhma_30-34,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Train models

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor

X = df_encoded.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
y_days = df_encoded["ka_korvatut_paivat"]
y_eur = df_encoded["ka_maksettu_eur"]

X_train, X_test, y_train_days, y_test_days = train_test_split(X, y_days, test_size=0.2, random_state=42)
X_train, X_test, y_train_eur, y_test_eur = train_test_split(X, y_eur, test_size=0.2, random_state=42)

lr_days = LinearRegression().fit(X_train, y_train_days)
hgb_days = HistGradientBoostingRegressor().fit(X_train, y_train_days)
lr_eur = LinearRegression().fit(X_train, y_train_eur)
hgb_eur = HistGradientBoostingRegressor().fit(X_train, y_train_eur)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def evaluate_model(y_true, y_pred, model_name="model"):
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    print(f"{model_name}")
    print(f"R^2:\t{r2:.4f}")
    print(f"MAE:\t{mae:.4f}")
    print(f"MSE:\t{mse:.4f}")
    print(f"RMSE:\t{rmse:.4f}\n")

pred_days_lr = lr_days.predict(X_test)
pred_days_hgb = hgb_days.predict(X_test)
pred_eur_lr = lr_eur.predict(X_test)
pred_eur_hgb = hgb_eur.predict(X_test)

eval_days_lr = evaluate_model(y_test_days, pred_days_lr, "LinearRegression (Days)")
eval_days_hgb = evaluate_model(y_test_days, pred_days_hgb, "HistGradientBoosting (Days)")

eval_eur_lr = evaluate_model(y_test_eur, pred_eur_lr, "LinearRegression (EUR)")
eval_eur_hgb = evaluate_model(y_test_eur, pred_eur_hgb, "HistGradientBoosting (EUR)")

### Testing fairness

In [ ]:
def fairness_by_group(y_true, y_pred, X_test, sensitive_prefix):
    sens_cols = [col for col in X_test.columns if col.startswith(sensitive_prefix)]

    results = {}

    for col in sens_cols:
        mask = X_test[col] == 1

        group_name = col.replace(sensitive_prefix, "").replace("_", "")

        group_y_true = y_true[mask]
        group_y_pred = y_pred[mask]

        results[group_name] = {
            "count": mask.sum(),
            "mean_pred": group_y_pred.mean(),
            "mean_true": group_y_true.mean(),
            "mean_error": (group_y_pred - group_y_true).mean(),
            "MAE": mean_absolute_error(group_y_true, group_y_pred),
            "RMSE": mean_squared_error(group_y_true, group_y_pred) ** 0.5
        }

    return pd.DataFrame(results).T

In [ ]:
y_pred_days = lr_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (LR):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (LR):")
print(fairness_days)

In [ ]:
y_pred_days = hgb_days.predict(X_test)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for Days by sex (HGB):")
print(fairness_days)

fairness_days = fairness_by_group(
    y_true = y_test_days,
    y_pred = y_pred_days,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for Days by age group (HGB):")
print(fairness_days)

In [ ]:
y_pred_eur = lr_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (LR):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (LR):")
print(fairness_eur)

In [ ]:
y_pred_eur = hgb_eur.predict(X_test)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="sukupuoli_"
)

print("Fairness assessment for EUR by sex (HGB):")
print(fairness_eur)

fairness_eur = fairness_by_group(
    y_true = y_test_eur,
    y_pred = y_pred_eur,
    X_test = X_test,
    sensitive_prefix="ikaryhma_"
)

print("\nFairness assessment for EUR by age group (HGB):")
print(fairness_eur)

## Fairness-aware predictive model

### Inverse probability weighting for age-group

In [23]:
age_groups = df["ikaryhma"].value_counts(normalize=True)
df["weight"] = df["ikaryhma"].map(lambda x: 1/ age_groups[x])
df.head()

,aikatyyppi,kuukausi_nro,kunta_nro,ikaryhma,sukupuoli,etuus,korvausperuste,ka_korvatut_paivat,ka_maksettu_eur,weight
0,Vuosikertymä,12,272,35-39,Mies,Yhteensä,-Uravalmennus,18.400000,50.954891,9.509893
1,Kuukausi,7,92,50-54,Mies,Yhteensä,-Kuntouttava työtoiminta,23.648649,41.258000,10.360808
2,Vuosi,12,109,60-64,Mies,Työmarkkinatukietuudet yhteensä,Työllistymistä edistävien palvelujen ajalta,156.787879,42.874256,11.680725
3,Vuosikertymä,1,178,Tieto puuttuu,Tuntematon,Työmarkkinatukietuudet yhteensä,-Omaehtoinen opiskelu,25.000000,47.166200,17.885271
5,Vuosikertymä,6,434,45-49,Mies,Yhteensä,Työllistymistä edistävien palvelujen ajalta,95.571429,44.100359,10.155523

In [24]:
categorical_cols = ["aikatyyppi", "ikaryhma", "sukupuoli", "etuus", "korvausperuste", "kunta_nro"]
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=False, dtype=int)
print(df_encoded.shape)
df_encoded.head()

(1142994, 333)

,kuukausi_nro,ka_korvatut_paivat,ka_maksettu_eur,weight,aikatyyppi_Kuukausi,aikatyyppi_Vuosi,aikatyyppi_Vuosikertymä,ikaryhma_17-19,ikaryhma_20-24,ikaryhma_25-29,...,kunta_nro_934,kunta_nro_935,kunta_nro_936,kunta_nro_946,kunta_nro_976,kunta_nro_977,kunta_nro_980,kunta_nro_981,kunta_nro_989,kunta_nro_992
0,12,18.400000,50.954891,9.509893,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,23.648649,41.258000,10.360808,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,156.787879,42.874256,11.680725,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,25.000000,47.166200,17.885271,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,95.571429,44.100359,10.155523,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Train models

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import HistGradientBoostingRegressor
import gc

In [26]:
gc.collect()
X = df_encoded.drop(["ka_korvatut_paivat", "ka_maksettu_eur"], axis=1)
gc.collect()
y_days = df_encoded["ka_korvatut_paivat"]
gc.collect()
y_eur = df_encoded["ka_maksettu_eur"]

In [27]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_days = y_days.iloc[:training_indices]
y_test_days = y_days.iloc[training_indices:]

In [28]:
training_indices = int(len(X)*0.8)
X_train = X.iloc[:training_indices]
X_test = X.iloc[training_indices:]
y_train_eur = y_eur.iloc[:training_indices]
y_test_eur = y_eur.iloc[training_indices:]

In [ ]:
lr_days = LinearRegression().fit(X_train, y_train_days, sample_weight=df_encoded["weight"])

In [ ]:
hgb_days = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_days, sample_weight=df_encoded["weight"])

In [ ]:
lr_eur = LinearRegression().fit(X_train, y_train_eur, sample_weight=df_encoded["weight"])

In [ ]:
hgb_eur = HistGradientBoostingRegressor(max_bins=128).fit(X_train, y_train_eur, sample_weight=df_encoded["weight"])